body{
    margin: 0;
}
article{
    overflow: hidden; margin-bottom: 30px; max-width: 1000px;
    /* 
        ? max / min + width or height
        * max-width or height : 커지더라도 최대 수치까지만 커져라.(너비 or 높이)
        * ex> article => width: 100%(display: block) -> max-width: 1000px; 1000px이상 못커짐.
    
        * min-width or height : 작아지더라도 최소 수치까지만 작아져라.(너비 or 높이)
        * ex> article => width: 100%(display: block) -> min-width: 1000px; 1000px 이하로 줄지 못함.
    */
}