/* 
    ? 1. article은 홀수,짝수에 따라 배치가 다름
    ? 2. article안의 title은 모두 첫번째 자손
    ? 3. article안의 p 안의 tag들의 형태에서 공통점과 다른점을 찾아야함.
*/
body, p{
    margin: 0;
}
article{
    clear: both; margin-bottom: 30px;
}
article > :first-child{
    font-size: 200px; line-height: 140px; width: 40%; background-color: gray;
    color: white;
}
article:nth-of-type(2n+1) > :first-child{
    float: right; margin: 0 0 10px 20px; text-align: right;
}
article:nth-of-type(2n) > :first-child{
    float: left; margin: 0 20px 10px 0;
}
article p *{
    color: skyblue;
}
article p mark{
    background-color: transparent;
}
article p *:not(mark){
    text-decoration: underline;
}