html{
    height: 100%;
}
body{
    margin: 0; background-color: black; font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body > div{
    width: 50%; height: 50%; background-color: #262626; position: fixed;
    top: 25%; left: 25%; min-height: 285px;
}
body > div nav{
    margin-bottom: 25px;
}
body > div nav ul{
    margin: 0; padding: 0;
}
body > div nav ul:after{
    content: ''; display: block; clear: both;
}
body > div nav ul li{
    float: left; width: 25%; display: block; background-color: #3b3b3b;
}
body > div nav ul li a{
    text-decoration: none; text-align: center; display: inherit; font-size: 12px;
    /* line-height: 30px; */ padding: 10px 0; color: #ea0e52;
    text-transform: capitalize;
}
body > div nav ul li a:hover,
body > div nav ul li.currentStat a{
    background-color: #ea0e52; color: white;
}
/* ? tabMenu 끝 */
body > div h1{
    font-size: 14px; color: white; margin: 0 0 25px; text-transform: capitalize;
    text-align: center;
}
body > div fieldset{
    /* ? default CSS : border, padding, display: block. = width: 100%; */
    border: none; padding: 0; width: 90%; margin: 0 auto 25px;
}
body > div fieldset ul{
    margin: 0; padding: 0;
}
body > div fieldset ul li{
    display: block; line-height: 36px;
}
body > div fieldset ul li:first-of-type{
    margin-bottom: 25px;
}
body > div fieldset ul li:after{
    content: ''; display: block; clear: both;
}
body > div fieldset ul li label{
    width: 15%; display: block; float: left; background-color: #ea0e52; font-size: 12px;
    text-transform: uppercase; font-weight: bold; color: white; text-align: center;
    /* padding: 12px 0; */
}
body > div fieldset ul li input{
    width: 85%; border: none; display: block; float: left; box-sizing: border-box;
    /* padding: 11px 2.5%; */ line-height: inherit; padding: 0 2.5%;
}
body > div fieldset ul li input:focus{
    background-color: #ea0e52;
}
body > div fieldset ul li input[type='password']:focus{
    color: white;
}
body > div input[type='submit']{
    width: 90%; margin: 0 auto; border: none; display: block;
    line-height: 34px; font-size: 12px; background-color: #3e3e3e; color: #ea0e52;
    /* padding: 10px 0; */
}
body > div input[type='submit']:hover{
    background-color: #ea0e52; color: black; cursor: pointer;
}