body{
    margin: 0;
}
div:first-of-type{
    max-width: 960px; margin: 0 auto;    
}
div:first-of-type fieldset{
    border: 1px solid #05f; margin: 0 0 25px; padding: 15px 20px 25px;    
}
div:first-of-type fieldset label{
    display: inline-block; vertical-align: middle;
}
div:first-of-type fieldset textarea{
    display: block; width: 100%; border: 1px solid #05f; padding: 10px 1%;
    box-sizing: border-box; margin: 25px 0 0; resize: none; height: 150px;
    transition-duration: 0.75s;
}
div:first-of-type fieldset input[type='checkbox']:checked + textarea{
    height: 0; padding: 0 1%;
}