.tagSelector h1{color: #0c0; font-size: 20px;}
.tagSelector p{color: #0cf; font-size: 15px;}
.tagSelector span{color: #336; font-size: 13px;}
/* ?tag Selector */

.idSelector p#paragraph1{text-decoration: underline;}
.idSelector p#paragraph2{text-decoration: line-through;}
.idSelector p#paragraph3{text-decoration: overline;}
/* ?ID Selector */

.classSelector p.f_size{font-size: 20px;}
.classSelector p.f_weight{font-weight: bold;}
.classSelector p.f_color{color: #9cf;}
/* ?class Selector + 다중 class module */

.attrSelector fieldset{
    border: 1px solid #555; background-color: slateblue;
}
.attrSelector fieldset legend{
    border: 1px solid slateblue; background-color: #555; color: white;
    padding: 10px;
}
.attrSelector fieldset ul{
    margin: 0; padding: 0; list-style: none;
}
.attrSelector fieldset ul li{
    color: white; font-size: 14px; line-height: 30px;
}
.attrSelector fieldset ul li label{
    width: 100px;
}
.attrSelector fieldset ul li input{
    vertical-align: middle;
}

.attrSelector fieldset ul li input[type='text']{
    background-color: salmon; border: 3px solid saddlebrown; color: maroon;
}
.attrSelector fieldset ul li input[type='password']{
    background-color: lightgreen; border: 3px solid lime; color: green;
}
.attrSelector fieldset ul li input[type='radio']{
    width: 25px; height: 25px;
}
.attrSelector fieldset ul li input[type='checkbox']{
    width: 25px; height: 25px;
}

.directSelector > h1{
    font-size: 28px; color: #66f;
}
.directSelector > span{
    font-size: 22px; color: #906;
}

.stringAttrSelector img[src$='png']{
    width: 100px; height: 100px; border: 3px solid #f00;
}
.stringAttrSelector img[src$='jpg']{
    width: 200px; height: 200px; border: 5px solid #0f0;
}
.stringAttrSelector img[src$='gif']{
    width: 300px; height: 300px; border: 10px solid #00f;
}
.sameSelector h1~h2{
    background-color: #333; color: white;
}
.sameSelector h1+h3{
    font-size: 40px; color: #fcf;
}
/* 
    ? 동위 선택자에서 A+B는 A 바로뒤 B.
    ? A~B는 A뒤에있는 B모두를 선택한다.
*/
.eventSelector a{
    display: block;
}
.eventSelector a:link{
    font-size: 13px; color: red;
}
.eventSelector a:hover{
    font-size: 20px; color: blue;
}
.eventSelector a:active{
    font-size: 30px; color: green;
}
.eventSelector a:visited{
    font-size: 40px; color: yellowgreen;
} /* ? a:visited => a:link. font-size변경불가 */

.statusSelector input[type='checkbox'] + label{
    display: inline-block; height: 20px; overflow: hidden;
    transition-duration: 0.75s;
}
.statusSelector input[type='checkbox']:checked + label{
    height: 0px;
}
.statusSelector input[type='text']:enabled{
    background-color: lime;
}
.statusSelector input[type='password']:disabled{
    background-color: deeppink;
}
.normalSelector ul{
    list-style: none; overflow: hidden; background-color: yellow;
    padding: 0; margin: 30px 0;
}
.normalSelector ul li{
    width: 14.28%; padding: 15px; box-sizing: border-box; margin: 0;
    text-align: center; float: left;
}
.normalSelector ul :first-child{
    border-radius: 30px 0 0 30px;
}
.normalSelector ul :last-child{
    border-radius: 0 30px 30px 0;
}
.normalSelector ul :nth-child(odd){
    background-color: #444; color: white;
}
.normalSelector ul :nth-child(even){
    background-color: deepskyblue;
}
/* https://css-tricks.com/useful-nth-child-recipies/ */

.shapeSelector h1:first-of-type{
    color: #30f;
}
.shapeSelector h2:nth-of-type(2){
    color: lime;
}
.shapeSelector h2:last-of-type{
    color: #0c6;
}
/* todo. second h1,h2,h3 를 child로 선택해보기. */
/* .shapeSelector h1:nth-child(1){color: #30f;}
.shapeSelector h2:nth-child(5){color: lime;}
.shapeSelector h2:nth-child(7){color: #0c6;} */
/*
    * first-of-type, last-of-type은 형제 관계중 첫 번째 혹은 마지막으로 
    * 등장하는 지정된 태그를 선택마지막으로 등장하는 특정 태그를 선택한다.
    * nth-child와 마찬가지로 수열을 사용 할 수 있다.
    * 또한 전체선택자인 * 와 혼용하여 body > *:first-of-type{color:red} 이런식의 범위 지정도
    * 가능하다.
*/