
.tagSelector h1{color:#0c0; font-size:20px;}
.tagSelector p{color:#0cf; font-size:15px;}
.tagSelector span{color:#336; font-size:13px;}

/*태그선택자 사용법*/

.idSelector p#paragraph1{font-size:16px; text-decoration:underline;}
.idSelector p#paragraph2{color:#09F; text-decoration:line-through;}
.idSelector p#paragraph3{font-weight:bold; text-decoration:overline;}

/*ID선택자 사용법*/

.classSelector p.f_size{font-size:20px;}
.classSelector p.f_weight{font-weight:bold;}
.classSelector p.f_color{color:#9cf;}

/*CLASS 선택자 사용법 + 다중 클래스 지정 */

.attrSelector fieldset{
    border: 1px solid #555; background-color: lightseagreen;
}
.attrSelector fieldset legend{
    border: 1px solid slateblue; background-color: #555; color: white; padding: 10px;
    border-radius: 10px 0 10px;
}
.attrSelector fieldset ul{
    margin: 0; padding: 0; list-style: none;
}
.attrSelector fieldset ul li{
    color: white; font-size: 14px; line-height: 30px; margin-bottom: 10px;
}
.attrSelector fieldset ul li label{
    width: 100px; display: inline-block;
}
.attrSelector fieldset ul li input{
    padding: 5px; vertical-align: middle;
}
.attrSelector fieldset ul li input[type='text']{
    background-color: salmon; border: 3px solid lightyellow; color: maroon;
}
.attrSelector fieldset ul li input[type='password']{
    background-color: lightgreen; border: 3px solid lime; color: forestgreen;
}
.attrSelector fieldset ul li input[type='radio'],
.attrSelector fieldset ul li input[type='checkbox']{
    background-color: black; border: 5px solid yellow;
    /* 이상 코드들은 적용 안됨. select, date계열, file등은 마찬가지로 외형 수정이 어려운 태그들. */
    width: 25px; height: 25px; accent-color: black;
}

.directSelector > h1{
    font-size: 28px; color: #66f;
}
.directSelector > span{
    font-size: 22px; color:#906; line-height: 40px;
    /* 
        ? a > b: 직계선택자
        1. a의 안에 직계 자손들만 선택할 수 있게 하는 선택자.
        2. 내부로 css가 파고들지 못하게 막아주는 역할을 수행하는 중요 선택자.
        ! a 와 b가 같은 tag로 반복된다면 bubbling(연쇄적용)이 일어나기 때문에 다채로운 구조를 짜도록해야된다.
        ? 웹표준,웹접근성에 맞는 구조 = 다채로운구조.
    */
}
.sameSelector h1~h2{
    background-color: #999;
}
.sameSelector h1+h2{
    font-size: 40px; color: #fcf;
}
/* 
    ? a~b,a+b : 동위선택자.
    1. a를 기준으로 형제관계들인 b를 선택하는 선택자.
    2. 내가 원하는 데로 기준을 세우고 대상을 범위(~) 혹은 개별(+)로 선택할 수 있기 때문에 효율이 좋음.
    ! ~은 범위 지정이기때문에 최초 기준이 되는 tag만 효력이 생긴다.
*/
.stringAttrSelector img[src$='png']{
    width: 100px; border: 3px solid #f00;
}
/* todo. 나머지 두개 이미지에 직접 문자유형선택자 사용해보기 */
.stringAttrSelector img[src$='jpg']{
    width: 200px; border: 5px solid #0f0;
}
.stringAttrSelector img[src$='gif']{
    width: 300px; border: 10px solid #00f;
}
.stringAttrSelector h1[title*='제목']{
    color: red;
}
.stringAttrSelector h1[title^='남자']{
    color: blue;
}
.stringAttrSelector h1[title ~= "탈의실"]{
    color: deeppink;
}
/* 
    ? 문자열속성값일치선택자 - 해당 문자열 유형으로 분리 적용
    * *= : 해당 단어가 들어가는 모든 대상 선택. (전,후 상관없음.)
    * ^= : 해당 단어로 "시작"하는 것만 선택.
    * $= : 해당 단어로 "끝"나는 것만 선택.
    |= : 해당 단어로 시작하고 -로 구분되는 대상 선택.
    ~= : 띄어쓰기 기준. 해당 단어 포함.(사용가능대상 정해져있다. = 띄어쓰기가 가능한 attr)
*/
.statusSelector input:not([type='checkbox']){
    display: block; margin-bottom: 20px;
}
.statusSelector input[type='checkbox']+label{
    display: inline-block; overflow: hidden;
    line-height: 20px; transition-duration: .75s;
    /* 
    crossBrowsing - 대응코드 vendorPrefix. 구시대유물.
    -ms-transition-duration: .75s;
    -webkit-transition-duration: .75s;
    -moz-transition-duration: .75s;
    -o-transition-duration: .75s;
    */
}
.statusSelector input[type='checkbox']:checked+label{
    line-height: 0px;
}
.statusSelector input[type='email']:disabled{
    background-color: black; color: gray; padding: 10px;
}
.statusSelector input[type='password']::placeholder{
    color: red;
}
/* 
    ? 상태선택자 - input계열의 현 상태에 따라 선택하는 선택자.
    * :checked = checkbox, radio.
    :selected = select
    ! disabled != readonly 완전 다른의미
    * disabled = 한 번도 전송되거나 저장된적이 없는 입력 칸. -> 사용할 수 없는 상태.
        ? ex> 온라인쇼핑몰에서 결제수단 선택할 때. 카드 or 계좌이체 or 핀텤(토스,네이버페이..)
        ? counter attr = enabled.
    * readonly = 한 번이라도 전송되거나 저장된적이 있는 입력 칸. -> 수정할 수 없는 상태.
        ? ex> 회원가입할 때는 id 입력 가능 -> 가입 후 내 계정에서 id 수정 하려고 하면 불가능.
        ? counter attr (x) = .removeAttr(); 함수 사용해서 제거밖에는 방법이없음.
*/
.virtualSelector ul{
    overflow: hidden; list-style: none; margin: 30px 0; padding: 0;
    background-color: ivory;
    /* 
        ? overflow: 초과 = float로 인한 높이 붕괴를 막는가?
        * 1. li들 float가 된다.
        * 2. ul(부모)의 밑선을 끌고 올라온다.
        * 3. ul의 높이를 초과한다. = li들의 높이가.
        * 4. ul의 높이가 초과됨을 overflow가 감지해서 다시 원상태로 돌려놓는다.
        ! :after대신 사용하면 나중에 반응형에서 복잡해짐 = overflow:hidden -> 초과될시 감춰라.
    */
}
.virtualSelector ul li{
    width: 14.28%; box-sizing: border-box; margin: 0; padding: 15px; float: left;
    text-align: center;
}
.virtualSelector ul li:first-child{
    border-radius: 20px 0 0 20px;
}
.virtualSelector ul li:last-child{
    border-radius: 0 20px 20px 0;
}
.virtualSelector ul li:nth-child(2n+1){
    background-color: #09f;
}
.virtualSelector ul li:nth-child(2n){
    background-color: #444; color: white;
}
/* 
    ? 가상선택자 : -child = 부모기준에서 바라보는 순서.(tag는 중요하지 않음)
    * first-child : 부모기준에서 바라보는 첫번째 자손.
    * last-child : 부모기준에서 바라보는 마지막 자손.
    * nth-child : 부모기준에서 바라보는 n번째 자손. = 수열식사용가능.
    ? 수열식 ??? - 수의 규칙(pattern=syntex). 이 발생 되었을 때 수식으로 연쇄반응을 시키는 것.
*/

.shapeSelector h1:nth-of-type(2){color: #30f;}
.shapeSelector h2:first-of-type{color: #0c6;}
.shapeSelector h3:last-of-type{color: #f06;}
/* todo. 위 세줄의 결과를 동일하게 child로 변환해서 나오게 해보기. */
/* .shapeSelector h1:last-child{color: #30f;}
.shapeSelector h2:nth-child(2){color: #0c6;}
.shapeSelector h3:nth-child(4){color: #f06;} */
/* 
    ? 가상형태선택자 : -of-type = 자기와 같은 태그들끼리 의 순서.
    * first-of-type : 자기들기준에서 바라보는 첫번째.
    * last-of-type : 자기들기준에서 바라보는 마지막.    
    * nth-of-type : 자기들기준에서 바라보는 n번째. = 수열식사용가능.
*/
.textSelector h1::first-letter{
    font-size: 20px; color: #09f;
}
/* 비중요 */
.textSelector p::first-line{
    color: #090; text-decoration: underline; font-style: italic; font-size: 14px; line-height: 20px;
}
/* 
    덜중요 - 첫줄 이니까. br의 영향을 받는다.
    ! responsive(반응형) 입장에서는 br은 쥐약.
    ? 그렇기 때문에 br 말고 adaptive(적응형) 상태를 유지 시켜놓으면 알아서 첫 줄을 계속 선택 해준다.
*/
.backandfrontSelector p{
    counter-increment: rint;
}
.backandfrontSelector p::before{
    content: counter(rint) ".";
}
.backandfrontSelector p::after{
    content: "-" attr(data-page) "page"; font-weight: bold; color:  deeppink;
}
/* 
    ? "rint"(내가지은이름)라 부르기로 한 카운터 이름을 생성
    * counter() 라고 하는 함수 : 지정된 이름들을 세어주는 것. (counter(지정된이름) = 지정된이름의 갯수)
*/
/* 
    ? attr() : 지정된 attribute의 값을 가져오는 함수.
    * ex> img 의 src를 attr(src) 이런식으로 넣어주면 "https://placehold.co/150"이런 값이 넘어오게 됨.
*/
/* 
    ? ::before(전위) & ::after(후위)
    * content라는 속성에 넣어주면 그 대상이 각 위치에(before는 맨 위, after는 맨 아래 = 코드상에서) 나옴.
    * 다수의 대상을 넣을 시에는 구분할 때 띄어 쓰기로 넣어주면 됨.
    ! 화면상에 들어가는 요소들을 처리하기에는 매우 적합하나 data가 들어오는 공간에는 사용 금지(ex> 총 금액 : 1,280,000원 -> 원을 :after content('원'); -> 금액은 Data = Data가 들어올때는 양호하나 만약 다시 재전송 되야할 경우 저 '원'이 딸려들어감
*/

.reactionSelector *{
    color: white;
}
.reactionSelector *::selection{
    background-color: #000; color: #ff0;
}
/* 
    ! ::selection - 사용시에는 반드시 접근성 고대비율을 준수해서 사용해야 함. 그렇지 않을시 특정 색에 취약한 사람들은 구분불가.
*/

.notSelector input:not([type='password'],[type='submit']){
    background-color: lightseagreen;
}
/* 
    ? :not = 부정선택자. 지정된 대상을 제외한 나머지에게 해당 style을 적용시킨다.
    ! 복수대상 지정시 ,로 구분하는데 만약 복수대상의 수가 너무 많다면 이것은 구조 혹은 보는 시각에 문제가있다고 판단 해야함.
*/