@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/*
    웹폰트로드하는방법
    1. 영어권이냐 ? 영어권이아니냐

    - 영어권 : alternate(대체).
    - 비영어권 : 앞에 있는 font에 영문이 없을 시 뒤에 폰트로 영문변경.
    (한글,영어)
    - 비영어권 : 앞,뒤 폰트 모두 한글 font일 경우. alternate(대체).
*/
h1,h2,h3{
    font-family: 'Nanum Gothic', sans-serif;
}
h1{
    font-weight: 800; font-size: 20px; color: rgba(0,102,255,0.5);
}
h2{
    font-weight: 600; font-size: 15px; color: rgba(150,150,0,1);
}
h3{
    font-weight: 400; font-size: 12px; color: rgba(0,150,150,0.8);
}