@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

h1,h2,h3{
    font-family: 'Nanum Gothic', sans-serif;
}
h1{
    font-size: 20px; line-height: 26px; color: rgba(255,0,0,0.5);
    /*
        * size : 30px 미만일 경우, line-height = size+6px;
        ? font-size: 12px(min) - 글자크기 최소
        ? line-height: - 줄간(x) = font size=line-height(동수) ex. font-size: 20px; line-height: 20px;
    
        ? rgb'a'(alpha channel) = photoshop : opacity. 1(100%) = ex. 0.5 = 50%; 0.05 = 5%
    */
}
/* todo. 배운속성들 사용해보기. */
h2{
    font-size: 15px; line-height: 21px; color: #966;
}
h3{
    font-size: 13px; line-height: 19px; color: #f90;
}
p{
    font-size: 14px;
    font-family: 'Nanum Gothic';
}
p.letter{
    letter-spacing: -1px;
    /* letter-spacing: 자간 */
}
p.word{
    word-spacing: 10px;
    /* word-spacing: 단간 */
}
p[class^=w_]{
    border: 1px solid black;
}
p.w_normal{
    width: 150px; white-space: normal; line-height: 21px;
}
p.w_nowrap{
    width: 150px; white-space: nowrap; text-overflow: ellipsis;
    overflow: hidden;
}
.v_alignTest img{
    width: 200px; vertical-align: middle;
}
.v_alignTest span{
    vertical-align: 100%;
}
/* 
    !중요
    * middle : 높은대상 기준으로 중앙 정렬
    * top, bottom : 높은대상 기준의 위, 아래 정렬
    // baseline, text-top : 비중요. 

    * 높은대상을 선 기준으로 정렬 이후 낮은대상을 %,px 등의 상세조정으로 맞출수 있다.
*/
p.t_indent{
    text-indent: 40px; font-size: 20px;
}
button.test{
    background: url('https://via.placeholder.com/200x50?text=blabla button');
    width: 200px; line-height: 50px; text-indent: -9999px;
}
a{
    display: block;
}
a.t_deco_N{
    text-decoration: none; text-transform: none; color: #090;
}
a.t_deco_U{
    text-decoration: underline; text-transform: lowercase; color: #0cf;
}
a.t_deco_O{
    text-decoration: overline; text-transform: capitalize; color: #96c;
}
a.t_deco_T{
    text-decoration: line-through; text-transform: uppercase;
}

p.DR_ltr{
    direction: ltr;
}
p.DR_rtl{
    direction: rtl;
}