@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body{
    font-family: 'Nanum Gothic';
}
/* 
thin - 100
extraLight - 200(폰트별표기방식상이)
light - 300
regular - 400 (기본 굵기)
medium - 500
semiBold - 600
bold - 700
extraBold - 800
black - 900
*/

/*
웹폰트로드하는방법
1. 영어권이냐 ? 영어권이아니냐

- 영어권 : alternate(대체).
- 비영어권 : 앞에 있는 font에 영문이 없을 시 뒤에 폰트로 영문변경. (해당폰트에 영문이없을시)
(한글,영어) : 대부분 비 영어권 font 는 알파벳 이 기본 포함되기때문에 일반적으로는 앞에 영문font, 뒤에 비영어권폰트 설정.
- 비영어권 : 앞,뒤 폰트 모두 한글 font일 경우. alternate(대체).

*/
h1{
    font-size: 50px; color: #0066ff; line-height: 56px;
    /* 
        * HEX - 16진 이용한 COLOR. 0~9-A~F = 16. #0066ff = #06f;. ex> #eaeaea -> 무채색.
        * RGB - rgb(red,green,blue); -> rgba(red,green,blue,alpha);
        * hsla(hue,saturate,lightness,alpha(투명도));
     */
}
/* todo */
h2{
    font-size: 25px; color: #966; line-height: 31px;
}
h3{
    font-size: 18px; color: #f09; line-height: 24px;
}

p{
    font-size: 14px; 
}
p.letter{
    letter-spacing: -1px;
    /* font마다 상이하지만 일반적으로는 1/100으로 사용. photoshop등 기준. 5px초과 힘듬 */
}
p.word{
    word-spacing: 10px;
    /* 단어간격 기준 = 띄어쓰기 의미. */
}
p.w_normal{
    width: 150px; border: 1px solid black; white-space: normal; line-height: 20px;
    /* width: 너비, height: 높이. */
}
p.w_nowrap{
    width: 150px; border: 1px solid black; white-space: nowrap; line-height: 20px;
    text-overflow: ellipsis; overflow: hidden;
    /* white space 를 nowrap으로 설정후 overflow관련 속성을 설정하면 줄임처리를 만들 수 있다. */
}
.v_alignTest img{
    vertical-align: middle;
}
.v_alignTest span{
    vertical-align: -150%;
}
/* 
    vertical-align : 수직정렬 규칙
    1. 높이가 높은 대상이 높이가 낮은 대상을 정렬해야함. (preset사용) - 선처리 하다.
    2. 상세조정이 필요할 경우 높이가 낮은 대상이 스스로 정렬하면 됨 (기준은 높이가 높은 대상) - 후처리 하다.
    ? % = 글자 크기는 글자의 높이를 의미함. 100% = 글자의 크기 ex> 14px 100% = 14px;, 50% 7px;
    ? 방향 = - 입력 아래, + 입력 위.
    ! display block속성은 안됨. = inlineblock <-> inline 들만 가능.
*/
p.t_indent{
    text-indent: 20px; font-size: 30px;
}
button.test{
    background: url('https://placehold.co/150x50?text=blah blah Button');
    width: 150px; height: 50px; text-indent: -9999px;
}

a{
    display: block; line-height: 30px;
}
a.t_deco_N{text-decoration:none; text-transform: none; color: #090;}
a.t_deco_U{text-decoration:underline; text-transform: lowercase; color: #0cf;}
a.t_deco_O{text-decoration:overline; text-transform: capitalize; color: #96c;}
a.t_deco_T{text-decoration:line-through; text-transform: uppercase; color: #f63;}

p.DR_ltr{
    /* direction: ltr; */
    text-align: left;
}
p.DR_rtl{
    /* direction: rtl; */
    text-align: center;
}
/* 
    ? direction - 출력방향 설정. 잘  사용되지 않음 / text-align - 정렬위치 설정 (left,center,right)
    ! text-align - display: inline-block, inline처럼 한 행으로 배치될수 있는 속성들은 정렬영향을 받음.
*/