@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body{
    font-family: 'Nanum Gothic';
}
/* 
thin - 100
extraLight - 200(폰트별표기방식상이)
light - 300
regular - 400 (기본 굵기)
medium - 500
semiBold - 600
bold - 700
extraBold - 800
black - 900
*/

/*
웹폰트로드하는방법
1. 영어권이냐 ? 영어권이아니냐

- 영어권 : alternate(대체).
- 비영어권 : 앞에 있는 font에 영문이 없을 시 뒤에 폰트로 영문변경. (해당폰트에 영문이없을시)
(한글,영어) : 대부분 비 영어권 font 는 알파벳 이 기본 포함되기때문에 일반적으로는 앞에 영문font, 뒤에 비영어권폰트 설정.
- 비영어권 : 앞,뒤 폰트 모두 한글 font일 경우. alternate(대체).

*/
h1{
    font-size: 50px; color: #0066ff; line-height: 56px;
    /* 
        * HEX - 16진 이용한 COLOR. 0~9-A~F = 16. #0066ff = #06f;. ex> #eaeaea -> 무채색.
        * RGB - rgb(red,green,blue); -> rgba(red,green,blue,alpha);
        * hsla(hue,saturate,lightness,alpha(투명도));
     */
}
/* todo */
h2{
    font-size: 25px; color: #966; line-height: 31px;
}
h3{
    font-size: 18px; color: #f09; line-height: 24px;
}