html, body, .wrap{
    height: 100%;
}
body{
    margin: 0;
}
.wrap{
    background-image: url("../images/pt.gif");
    /* 
        ! background-image : default -> background-repeat: repeat.(배경반복: 반복)
    */
}
.wrap p{
    background-color: #0cf; padding: 20px; margin: 0 0 20px 0;
}
.wrap button{
    line-height: 75px; color: white; background-image: url('../images/pt_ex.png');
    background-repeat: repeat-x;
    /* ? repeat-x : x축 반복 , repeat-y : y축 반복, no-repeat: 반복 안함, repeat(default): 모두반복 */
    padding: 0 40px; border: none;
}