html,body{
	height: 100%;
}
body{
	margin: 0;
	background-image: url('../images/BackgroundFront.png'), url('../images/BackgroundBack.png');
	/* 
		! 다중배경.(css3) - 제한없음. 3장 정도 까지만 권장. 
		? stack이 쌓일 시 앞에 있을 수록 위에
	*/
	background-repeat: no-repeat;
	background-size: 50%;
	/* 
		? cover : 종횡비 무시. 무조건 꽉채움. (imgSize가 아예 크던지, 지정된 공간에 딱 맞던지.).
		? contain : 종횡비 우선.(너비(w),나 높이(h) 중 먼저 한계선에 닿는 부분 우선)
		? %, px 등의 unit도 사용가능.
	*/
	background-position: center;
	/* 
		? %, px등의 unit도 사용가능.
	*/
	background-attachment: fixed;
	/* 
		? default : scroll;
	*/
}

p{
	height: 2000px;
}