html,body{
    height: 100%;
}
body{
    margin: 0;
    background-image: url('../images/BackgroundFront.png'), url('../images/BackgroundBack.png');
    background-repeat: no-repeat;
    background-position: center; /* ? center(xAxis) center(yAxis) */
    background-size: contain;
    /* 
        ? background-image는 대상 의 배경 설정. ,로 구분하여 2개이상 설정 가능.

        ? background-size는 공백으로 구분시(ex> 100% 250px) 너비 높이 분리.
        ? ,로 구분시 2개이상의 설정.
        ! size의 기본은 img Tag와 마찬가지로 너비에 따른 종횡비로 작동.
        todo. contain - 비율 우선(w or h 중 먼저 도달 하는 쪽에서 중지.)
        todo. cover - 면적 우선 (size가 공간보다 작을시 늘려서 채우고, 공간보다 클시 채워지는 부분만 표시.)
        
		? background-repeat는 기본옵션은 repeat, 수직 반복 repeat-y, 수평 반복 repeat-x 반복안함은 no-repeat
        
		? background-position은 x축, y축 으로 구분하는데 하나만 적을경우 x축, y축 동일적용
        ? left, center, right - xAxis
		? top, center, bottom - yAxis
		? %,px 등의 단위도 사용가능
    */
    background-attachment: fixed;
}
p{
    height: 4000px;
}