html,body{
    height: 100%;
}
body{
    margin: 0;
    background-image: url('../images/BackgroundFront.png'), url('../images/BackgroundBack.png');
    /* 
        ? 이하 모든 관련 속성들은 줄여쓰기 적용된 상태.
        * 1. 대상이 n개 일때 구분을 ","로 짓기 때문에 나머지속성들도 분리적용 필요 시 ","로 구분.
        * 2. 구분짓지않으면 하나의 값을 모든 대상이 공유함.
        ! css 언어적 특징.
    */
    background-size: contain;
    /*
        background-size : [width] [height];
        ? background-size = 입력안했을 때 본래 image크기로 적용됨.
        * 1. background-size는 고정단위 px 보다는 상대단위 % 사용. 화면및공간에 적응성향상(adaptive)
        * 2. % = 기존 img Tag와 같은 방식. 종횡비를 따름. (ex> 너비가 변경되면 비율대로 높이도 변경)
        * 3. preset : 
            cover : 무조건 꽉 채움. = 지정공간보다 이미지가 크다. + 위치(position) = 배경초점(focus)
            contain : 배경의 너비와 높이중 지정공간 경계선에 먼저 닿으면. 크기 증가를 멈춤. = 비율고정크기증가. + 위치 = 남는공간 위치이동.
    */
    background-repeat: no-repeat;
    background-position: right 30% bottom 20%;
    /* 
        ? background-position : 배경 위치 조정. 기본값 = left top. 입력순서 [x] [y]
        * 1. background-position의 preset : xAxis = left,center,right / yAxis = top,center,bottom.
        * 2. 수치지정 -> 30% 20%; 
            -1. 본래 기준 좌표인 left, top을 사용할 경우 수치만 입력 = ex> 30% 20%;
            -2. 그게 아니면 수치앞에 기준명을 작성.= ex> right 30% bottom 20%;
            ! 배경의 "위치를 고정"하고 싶다면 단위를 px로 사용. / 화면크기에 따라 적응하게 만들려면 % 사용.
    */
    background-attachment: fixed;
    /* background-attachment : scroll(기본 값: 스크롤에 반응), fixed(스크롤에 무반응 = 고정)*/
}

p{
    height: 2000px;
}