*{
    margin: 0; padding: 0;
}
html,body{
    height: 100%;
}
body{
    background-image: url('../images/example.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}