*{
    margin: 0; padding: 0;
}
h1{
    text-align: center; margin-bottom: 20px;
}
ul{
    width: 640px; margin: 0 auto; overflow: hidden;
}
ul li{
    float: left; display: block; width: 160px; height: 140px;
    background-image: url('../images/sprite.png');
}
ul li strong{
    background-color: rgba(0,0,0,0.5); color: white;
}
ul li.captain{
    background-position: 0px 0px;
}
ul li.wolverine{
    background-position: -160px 0px;
}
ul li.thor{
    background-position: -320px 0px;
}
ul li.ironman{
    background-position: -480px 0px;
}
ul li.spiderman{
    background-position: 0px -140px;
}
ul li.superman{
    background-position: -160px -140px;
}
ul li.rangerRed{
    background-position: -320px -140px;
}
ul li.rangerBlue{
    background-position: -480px -140px;
}
/* 
    ? 한칸의 li당, 8개의 캐릭터가 있는 이미지가 각 한장씩 들어가 있다.
    ? 한칸의 면적은 160 x 140 상태이고 캐릭터 하나의 면적 역시 동일.
    ? 한개의 li 안에 각각의 이름표에 맞는 캐릭터를 배치하기 위해서 background-position 좌표를 이용한다.
    ? li 2번 칸의 예를 들어 wolverine이 들어가야 할 경우 캐릭터 이미지는 좌측으로 160픽셀만큼 이동 해야하는 조건
    ? 즉 -160px(left), top(0) 상태면 wolverine이 나온다.
    ! x axis는 기본 좌(-),우(+) / y axis는 기본 상(-), 하(+)
*/