ul li.circle{list-style: circle;}
ul li.disc{list-style: disc;}
ul li.square{
    list-style: square;
}
ol li.decimal{
    list-style: decimal;
}
ol li.lower-alpha{
    list-style: lower-alpha;
}
ol li.upper-alpha{
    list-style: upper-alpha;
}
ol li.lower-roman{
    list-style: lower-roman;
}
ol li.upper-roman{
    list-style: upper-roman;
}
/* ! 여기까지는 중요하지 않음. */
ol li.none{
    list-style: none;
}
/* ul.custom{
    list-style-image: url('../images/bul_li.gif');
    list-style-position: inside;
} */
ul.custom{
    list-style: none;
    
    /* 
        ? 위에서는 li에다가 none을 줬는데 왜 얘는 ul에 list-style: none을 주지?
        * ex> li x 10 -> li에 list-style:none을 주면 -> 10번적용
        * ul 에 list-style:none을 주면 -> 1번의 적용으로 n번을 제어할 수 있다. 
    */
}
ul.custom li{
    background: url('../images/bul_li.gif') left center / 10px no-repeat;
    padding-left: 20px; box-sizing: border-box;
}