ul li.circle{
    list-style: circle;
}
ul li.disc{
    list-style: disc;
}
ul li.square{
    list-style: square;
}
ol li.decimal{
    list-style: decimal;
}
ol li.lower-alpha{
    list-style: lower-alpha;
}
ol li.upper-alpha{
    list-style: upper-alpha;
}
ol li.lower-roman{
    list-style: lower-roman;;
}
ol li.upper-roman{
    list-style: upper-roman;
}
/* 여기까지 비중요 */