
div{
    width: 300px; height: 150px; margin-bottom: 30px;
}
.singleBox{
    border: 3px solid #60f;
}
.multiBox{
    /* border-width: 1px 5px 10px 15px;
    border-style: solid dotted dashed double;
    border-color: #f06 #6f0 #06f #fc8; */
    border-top: 1px solid #f06;
    border-right: 5px dotted #6f0;
    border-bottom: 10px dashed #06f;
    border-left: 15px double #fc8;
}
    /* 
        solid : 직선, dotted : 점선, dashed : 파선, double : 두줄
        ? 4방향 모두 기입 - 모두 별도
        ? 3방향만 기입 - xAxis 에서 right만 남기때문에 left,right가 하나의 값으로 적용된다.
        ? 2방향만 기입 - xAxis,yAxis에 남은 값이 각 1개씩(top,right) 남았기 때문에 y축, x축 두개의 값으로 적용된다.
        ? 1방향만 기입 - 위 예제(singleBox)와 상동.
    */