div{
    width: 300px; height: 150px; margin-bottom: 10px;
}

.singleBox{
    border: 3px solid #60f;
    /* ?border: [border-width] [border-style] [border-color] */
}
.multiBox{
    /* border-top: 1px solid salmon;
    border-right: 3px dotted plum;
    border-bottom: 5px dashed palegreen;
    border-left: 10px double skyblue; */
    /* ? 방향별 분리 적용. */
    /* todo. 속성별 분리 적용 */
    border-width: 1px 3px 5px 10px; /*top right bottom left*/
    border-style: solid dotted dashed double; /*top right bottom left*/
    border-color: salmon plum palegreen skyblue; /*top right bottom left*/
}
.grooveBox{
    border: 20px groove royalblue;
}
.ridgeBox{
    border: 20px ridge royalblue;
}
.insetBox{
    border: 20px inset darkolivegreen;
}
.outsetBox{
    border: 20px outset darkolivegreen;
}
.outsetBox:hover{
    border-style: inset;
}
.radiusBox{
    background-color: black; color: yellow; border-radius: 30px 50px 20px 10px;
}
.circleBox{
    width: 500px; height: 500px; background-color: midnightblue;
    border-radius: 250px; text-indent: -9999px;
}