.flexContainer{
    margin: 10px; padding: 15px; border-radius: 23px; background-color: #a4a4a4;
    display: flex;
}
.flexItem{
    margin: 10px; padding: 20px; color: white; text-align: center; border-radius: 27px;
    background-color: black;
}
.flexContainer.direction{
    flex-direction: row;
    /* 
        ? row : left to right
        ? row-reverse : right to left
        ? column : top to bottom
        ? column-reverse : bottom to top
    */
}
.flexContainer.wrap{
    flex-wrap: wrap-reverse; flex-direction: row-reverse;
    /* 
        ? nowrap(개행불허. 1행 모두 배치. default. flexItem Width 자동축소)
        ? wrap(width 초과시 개행)
        ? wrap-reverse(개행하되 역배치)
    */
}
.flexContainer.wrap .flexItem,
.flexContainer.flow .flexItem{
    width: 500px;
}

.flexContainer.flow{
    flex-flow: row-reverse wrap-reverse;
    /* ? flex-flow : <directionValue> | <wrapValue> */
}
.flexContainer.justifyContent{
    justify-content: space-evenly; margin: 0; padding: 0;    
}
.flexContainer.justifyContent .flexItem,
.flexContainer.alignContent .flexItem{
    margin: 0;
}
.flexContainer.alignContent{
    align-content: flex-end; height: 400px; flex-wrap: wrap;
}