
.flexContainer{
    background-color: #a4a4a4; margin: 10px; padding: 15px; border-radius: 25px;
    display: flex;
}
.flexContainer .flexItem{
    margin: 10px; padding: 20px; color: white; text-align: center; border-radius: 25px; background-color: black;
}
.flexContainer.test{
    width: 48%; display: inline-flex; box-sizing: border-box;
}
/*
     ? flex - 부모요소가 block형태를 띄면서 내부공간을 flex화
    ? inline-flex - 부모요소가 inline-block형태를 띄면서 내부공간을 flex화
*/
.flexContainer.direction{
    flex-direction: column-reverse;
}
/* 
    ? -direction :
    이 속성은 flexContainer의 주축(mainAxis)방향을 설정한다.
    row (ltr), row-reverse(rtl), column(TopToBottom), column-reverse(BottomToTop)
*/
.flexContainer.wrap{
    flex-wrap: wrap-reverse;
}
    /* 
        -wrap : 
        이 속성은 flexContainer의 width보다 flexItem들의 width 합계가 큰 경우 한 줄로 나오게 할 것인지, 여러줄로 나오게 할 것인지 결정.

        nowrap(개행불허. 1행 모두배치. default. flexItem width 가능한 범위까지 자동축소)
        wrap(width 초과시 개행) - item width 설정시 %, max,min px설정 하여 원하는 타이밍 설정필요
        wrap-reverse(개행하되 역배치)
    */

.flexContainer.flow{
    flex-flow: row wrap;
    /* 
        -flow :
        direction , wrap 을 줄여 쓸 수(shorthand)있다.
        <flex-direction> | <flex-wrap>;
        ? Refns 상에서 | (vertical-bar) 의미는 띄어쓰기.
    */
}
.flexContainer.flow .flexItem{
    width: 33.33%; max-width: 500px; min-width: 300px;
}