/* 
    display: flex; = 부모요소가 flexBox상태가 되고 자손요소들이 flexItem으로 변함. = 부모통제
*/
.flexContainer{
    margin: 10px; padding: 15px; border-radius: 25px; background-color: #a4a4a4;
    display: flex;
}
.flexContainer .flexItem{
    margin: 10px; padding: 20px; color: white; text-align: center; border-radius: 25px;
    background-color: black;
}
.flexContainer.test{
    width: 48%; display: inline-flex; box-sizing: border-box;
}
.flexContainer.direction{
    flex-direction: column-reverse;
    /* 
        ? -direction : 
        * flexContainer의 주축(mainAxis)방향을 설정한다.
        row(ltr), row-reverse(rtl), column(TopTobottom), column-reverse(BottomToTop)
    */
}
.flexContainer.wrap{
    flex-wrap: wrap-reverse;
    /* 
        ?-wrap
        * flexContainer의 width보다 flexItem들의 width 총합이 큰 경우 한 줄로 나오게 할 것인지, 여러줄로 나오게 할 것인지 결정.
        nowrap : 개행불허. 1행 모두 배치. default. flexItem width 가능한 범위까지 자동 축소.
        wrap : 개행. item width 설정시 % 등 유동성단위, max or min 으로 원하는 타이밍 설정 가능.
        wrap-reverse : 개행 하되 역배치.(위로 올라간다.)
    */
}
.flexContainer.wrap .flexItem{
    width: 500px;
}
.flexContainer.flow{
    flex-flow: row wrap;
    /* 
    ? - flow :
    * direction 과 wrap을 shorthand.
    * <flex-direction> | <flex-wrap>;
    */
}
.flexContainer.flow .flexItem{
    width: 33.33%; max-width: 500px; min-width: 300px;
}
.flexContainer[class$='Content']{
    padding: 0;
}
.flexContainer[class$='Content'] .flexItem{
    margin: 0;
}
.flexContainer.justifyContent{
    justify-content: space-evenly;
    /* 
        ? justify-content(부모기준):
        flexContainer의 main axis를 기준으로 flexItem을 수평(변경될수있음) 정렬한다.
        flex-start : flexitem들을 좌측 기준정렬.
        flex-end : flexitem들을 우측 기준정렬.
        center : flexitem들을 가운데 기준정렬.
        ? 공간배치 3형제
        space-between : flexitem 1번은 좌측, 마지막번은 우측. 나머지 동일 간격 배분.
        space-around : 모든 flexitem의 처음,마지막 사이를 동일간격으로 정렬. 외 나머지 배분(safefyPad)
        space-evenly : 부모공간 좌,우측과 내부 flexitem들 사이의 모든 간격을 균등하게 배분.
    */
}
.flexContainer.alignContent{
    height: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    /* 
        ? align-content(부모기준):
        flexContainer의 cross axis(y축=변경가능)를 기준으로 flexitem들을 수직정렬한다.
        stretch : cross start - end까지 꽉찬 높이
        flex-start : flexItem 행간 없이 위로 정렬.
        flex-end : flexItem 행간 없이 아래로 정렬.
        center: flexItem 행간없이 중앙 정렬.
        ? 공간배치 3형제
        space-between : flexitem 1행은 상단, 마지막행은 하단. 나머지 동일 간격 배분.
        space-around : 모든 flexitem의 1행,마지막 행 사이를 동일간격으로 정렬. 외 나머지 배분(safefyPad)
        space-evenly : 부모공간 상단,하단, 내부 flexitem들 사이의 모든 간격을 균등하게 배분.
    */
}
/* .flexContainer.alignContent .flexItem{
    width: 33.33%; max-width: 300px; min-width: 150px;
} */
.flexContainer.justifyItems{
    background-color: yellow;
    display: grid;
    width: 300px;
    justify-items: stretch;
}
.flexContainer.justifyItems:hover{
    justify-items: center;
}
/* 
    ? justify-items(아이템들=대상들):
    * flexItem을 parent width 기준으로 flexContainer의 수평 방향으로 정렬.
    * justify-items 속성은 모든 flexItem들이 적용 받음.
    stretch : cross start에서  end까지 꽉찬 너비.
    flex-start : cross start 기준(좌)으로 정렬
    flex-end : cross End 기준(우)으로 정렬
    center : flexContainer의 주축(중앙)으로 정렬
*/
.flexContainer.alignItems{
    background-color: orange;
    align-items: baseline;
}
.flexContainer.alignItems:hover{
    align-items: center;
}
.flexContainer.alignItems .flexItem:first-of-type{
    line-height: 50px;
}
.flexContainer.alignItems .flexItem:nth-of-type(2){
    line-height: 100px;
}
/* 
    ? align-items(아이템들=대상들):
    * flexItem을 content(items) height를 기준으로 flexContainer의 수직 방향으로 정렬.
    * align-items 속성은 모든 flexItem들이 적용 받음.
    stretch : cross start에서  end까지 꽉찬 높이.
    flex-start : cross start 기준(좌)으로 정렬
    flex-end : cross End 기준(우)으로 정렬
    center : flexContainer의 주축(중앙)으로 정렬
    baseline : 안의 컨텐츠(글자,이미지..)의 end기준으로 정렬.
*/

.flexContainer.justifySelf{
    width: 220px; display: grid; background-color: lightgreen;
}
.flexContainer.justifySelf .flexItem:first-of-type{
    justify-self: stretch;
}
.flexContainer.justifySelf:hover .flexItem:first-of-type{
    justify-self: center;
}
/* 
    ? justify-self(자신):
    * flexItem중 지정된 item에만 정렬 속성 적용.
    stretch : 부모 공간 기준으로 자신의 너비를 꽉 채우기
    flex-start : 부모 공간 기준으로 자신의 위치를 좌측으로 맞추기
    flex-end : 부모 공간 기준으로 자신의 위치를 우측으로 맞추기
    center : 부모 공간 기준으로 자신의 위치를 중앙으로 맞추기
*/

.flexContainer.alignSelf .flexItem:first-of-type{
    align-self: center;
}
.flexContainer.alignSelf:hover .flexItem:first-of-type{
    align-self: flex-start;
}
.flexContainer.alignSelf .flexItem:nth-of-type(2){
    line-height: 80px;
}
/* 
    ? align-self(자신):
    * flexItem중 지정된 item에만 정렬 속성 적용.
    stretch : item중 가장 높은 대상 기준으로 자신의 높이를 꽉 채우기
    flex-start : item중 가장 높은 대상 기준으로 자신의 위치를 상단으로 맞추기
    flex-end : item중 가장 높은 대상 기준으로 자신의 위치를 하단으로 맞추기
    center : item중 가장 높은 대상 기준으로 자신의 위치를 중앙으로 맞추기
*/

.flexContainer.orderItem .flexItem.order1{
    background-color: lightgreen; color: forestgreen; font-weight: bold; order: 1;
}
.flexContainer.orderItem .flexItem.order2{
    background-color: lightpink; color: deeppink; font-weight: bold; order: 2;
}
.flexContainer.orderItem .flexItem.order3{
    background-color: lightblue; color: midnightblue; font-weight: bold; order: -1;
}
/* 
    ? order :
    flexContainer의 flexItem을 0(default)을 기본으로 낮은 수(음수가능)일수록 앞으로, 높은 수일수록 뒤로.
*/
.flexContainer.flexShortHand{
    width: 50%;
    /* max-width: 300px; */
    margin: 0; padding: 0;
}
.flexContainer.flexShortHand .flexItem{
    word-break: break-all; margin: 0; padding: 0;
}
.flexContainer.flexShortHand .flexItem:first-child{
    /* ? 팽창비 */
    /* flex-grow: 2; flex-basis: 0; */
    /* ? 수축비 */
    flex-shrink: 2; flex-basis: 150px;
}
.flexContainer.flexShortHand .flexItem:first-child~*{
    /* ? 팽창비 */
    /* flex-grow: 1; flex-basis: 0; */
    /* ? 수축비 */
    flex-shrink: 1; flex-basis: 150px;
}
/* 
    ? -grow(팽창비율) = 현재상황 2:1:1
    ! item의 증가비율을 정한다. default: 0 = 빈 공간을 알아서 확장하여 채우지 않는다.
    ! 음수 비허용. 양수 입력시 '총 증가 내부팽창지수(grow합산)의 너비중 입력된 비율만큼의 너비를 갖게 됨.
    ! 통제가 필요하다면 max-width로 설정 할 수 있다.
    * 팽창비 공식 : basis+(컨테이너너비/총증가내부팽창지수)*아이템비
    ?ex > 만약 전체 너비(300px)의 item 3개에 개별적 grow가 부여되었을 때
    todo. .flexItem:first-child{flex-grow: 2;} -> 0(basis) + (300/4)*2 = 150.
    todo. .flexItem:first-child~*{flex-grow: 1;} -> 0(basis) + (300/4)*1 = 75.
    ? 4? = 2:1:1 -> 2+1+1 ->4.

    ? -shrink(수축비율) = 현재상황 2:1:1
    ! 기준되는 부모가 줄어들 때 혹은 부모의 너비보다 아이템들 너비의 총합이 초과되었을 때 수축비를 정한다. default = 1.
    ! 음수 비허용. 양수 입력시 '총 내부수축지수'(shrink합산)의 너비중 입력된 비율만큼 수축될 수 있다.
    ! 통제가 필요하다면 min-width로 설정 할 수 있다.
    * 수축비 공식 : basis - (각너비/총내부수축지수)*아이템비
    ?ex > 만약 수축중(or 완료)인 부모너비가 300px인데, item3개 너비(150)의 총합은 450인 상태의 수축비는
    todo. .flexItem:first-child{flex-shrink: 2;} -> 150(basis) - (150/4)*2 = 75.
    todo. .flexItem:first-child~*{flex-shrink: 1;} -> 150(basis) - (150/4)*1 = 112.5.

    ? -basis = item의 너비를 정하는데, 기본 값(defaultValue)은 auto.
    * auto = 안의 컨텐츠 길이만큼 너비가 늘어남.

    ? -shorhand : <-grow> | <-shrink> | <-basis>

    flex: none;
    flex-grow:0; flex-shrink:0; flex-basis:auto; 상태가 된다.

    flex: <flex-grow>
    flex-shrink:1; flex-basis:0; 상태가 된다.

    flex: <flex-basis>
    flex-grow:1; flex-shrink:1; 상태가 된다.

    flex: <flex-grow> <flex-shrink>
    flex-basis:0; 상태가 된다.

    flex: <flex-grow> <flex-basis>
    flex-shrink:1; 상태가 된다.

    flex: <flex-grow> <flex-shrink> <flex-basis>
    생략한 속성 없음.

    todo 자주 사용되는 형식
    1. flex: 0 1 auto; : 확장비는 존재 하지 않고 (남은공간을 채우지 않는다.), 수축만 일어나며 컨텐츠의 너비만큼 너비가 설정된다.
    2. flex: none; : 확장비, 수축비 모두 존재하지 않는다.(남은공간을 채우지도 수축도 일어나지 않는다.)  컨텐츠의 너비만큼 너비가 설정된다.
    3. flex: auto; : 1 1 auto 와 같다. 확장비, 수축비 모두 컨텐츠 갯수만큼 비율로 분배되어 갖게 되고, 컨텐츠의 너비만큼 너비가 설정된다.
    !만약 그 너비가 컨텐츠 보다 작을땐 item이 container의 너비를 넘는다. (스크롤바 발생) word-break : break-all 로 제어.


    ! 모든 항목에서 알아둬야할 사항.
    ! 1. 플렉스 아이템의 크기가 각자 다른 경우 남은공간은 균등하게 분배되지 않고 플렉스 아이템 크기에 정비례하여 분배 된다.
    ! 2. container 와 item에 적용된 margin,padding의 영향으로 오차가 발생 될 수 있다.
*/