/* 
    display: flex; = 부모요소가 flexBox상태가 되고 자손요소들이 flexItem으로 변함. = 부모통제
*/
.flexContainer{
    margin: 10px; padding: 15px; border-radius: 25px; background-color: #a4a4a4;
    display: flex;
}
.flexContainer .flexItem{
    margin: 10px; padding: 20px; color: white; text-align: center; border-radius: 25px;
    background-color: black;
}
.flexContainer.test{
    width: 48%; display: inline-flex; box-sizing: border-box;
}
.flexContainer.direction{
    flex-direction: column-reverse;
    /* 
        ? -direction : 
        * flexContainer의 주축(mainAxis)방향을 설정한다.
        row(ltr), row-reverse(rtl), column(TopTobottom), column-reverse(BottomToTop)
    */
}
.flexContainer.wrap{
    flex-wrap: wrap-reverse;
    /* 
        ?-wrap
        * flexContainer의 width보다 flexItem들의 width 총합이 큰 경우 한 줄로 나오게 할 것인지, 여러줄로 나오게 할 것인지 결정.
        nowrap : 개행불허. 1행 모두 배치. default. flexItem width 가능한 범위까지 자동 축소.
        wrap : 개행. item width 설정시 % 등 유동성단위, max or min 으로 원하는 타이밍 설정 가능.
        wrap-reverse : 개행 하되 역배치.(위로 올라간다.)
    */
}
.flexContainer.wrap .flexItem{
    width: 500px;
}
.flexContainer.flow{
    flex-flow: row wrap;
    /* 
    ? - flow :
    * direction 과 wrap을 shorthand.
    * <flex-direction> | <flex-wrap>;
    */
}
.flexContainer.flow .flexItem{
    width: 33.33%; max-width: 500px; min-width: 300px;
}
.flexContainer[class$='Content']{
    padding: 0;
}
.flexContainer[class$='Content'] .flexItem{
    margin: 0;
}
.flexContainer.justifyContent{
    justify-content: space-evenly;
    /* 
        ? justify-content(부모기준):
        flexContainer의 main axis를 기준으로 flexItem을 수평(변경될수있음) 정렬한다.
        flex-start : flexitem들을 좌측 기준정렬.
        flex-end : flexitem들을 우측 기준정렬.
        center : flexitem들을 가운데 기준정렬.
        ? 공간배치 3형제
        space-between : flexitem 1번은 좌측, 마지막번은 우측. 나머지 동일 간격 배분.
        space-around : 모든 flexitem의 처음,마지막 사이를 동일간격으로 정렬. 외 나머지 배분(safefyPad)
        space-evenly : 부모공간 좌,우측과 내부 flexitem들 사이의 모든 간격을 균등하게 배분.
    */
}
.flexContainer.alignContent{
    height: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    /* 
        ? align-content(부모기준):
        flexContainer의 cross axis(y축=변경가능)를 기준으로 flexitem들을 수직정렬한다.
        stretch : cross start - end까지 꽉찬 높이
        flex-start : flexItem 행간 없이 위로 정렬.
        flex-end : flexItem 행간 없이 아래로 정렬.
        center: flexItem 행간없이 중앙 정렬.
        ? 공간배치 3형제
        space-between : flexitem 1행은 상단, 마지막행은 하단. 나머지 동일 간격 배분.
        space-around : 모든 flexitem의 1행,마지막 행 사이를 동일간격으로 정렬. 외 나머지 배분(safefyPad)
        space-evenly : 부모공간 상단,하단, 내부 flexitem들 사이의 모든 간격을 균등하게 배분.
    */
}
/* .flexContainer.alignContent .flexItem{
    width: 33.33%; max-width: 300px; min-width: 150px;
} */
.flexContainer.justifyItems{
    background-color: yellow;
    display: grid;
    width: 300px;
    justify-items: stretch;
}
.flexContainer.justifyItems:hover{
    justify-items: center;
}
/* 
    ? justify-items(아이템들=대상들):
    * flexItem을 parent width 기준으로 flexContainer의 수평 방향으로 정렬.
    * justify-items 속성은 모든 flexItem들이 적용 받음.
    stretch : cross start에서  end까지 꽉찬 너비.
    flex-start : cross start 기준(좌)으로 정렬
    flex-end : cross End 기준(우)으로 정렬
    center : flexContainer의 주축(중앙)으로 정렬
*/
.flexContainer.alignItems{
    background-color: orange;
    align-items: baseline;
}
.flexContainer.alignItems:hover{
    align-items: center;
}
.flexContainer.alignItems .flexItem:first-of-type{
    line-height: 50px;
}
.flexContainer.alignItems .flexItem:nth-of-type(2){
    line-height: 100px;
}
/* 
    ? align-items(아이템들=대상들):
    * flexItem을 content(items) height를 기준으로 flexContainer의 수직 방향으로 정렬.
    * align-items 속성은 모든 flexItem들이 적용 받음.
    stretch : cross start에서  end까지 꽉찬 높이.
    flex-start : cross start 기준(좌)으로 정렬
    flex-end : cross End 기준(우)으로 정렬
    center : flexContainer의 주축(중앙)으로 정렬
    baseline : 안의 컨텐츠(글자,이미지..)의 end기준으로 정렬.
*/

.flexContainer.justifySelf{
    width: 220px; display: grid; background-color: lightgreen;
}
.flexContainer.justifySelf .flexItem:first-of-type{
    justify-self: stretch;
}
.flexContainer.justifySelf:hover .flexItem:first-of-type{
    justify-self: center;
}
/* 
    ? justify-self(자신):
    * flexItem중 지정된 item에만 정렬 속성 적용.
    stretch : 부모 공간 기준으로 자신의 너비를 꽉 채우기
    flex-start : 부모 공간 기준으로 자신의 위치를 좌측으로 맞추기
    flex-end : 부모 공간 기준으로 자신의 위치를 우측으로 맞추기
    center : 부모 공간 기준으로 자신의 위치를 중앙으로 맞추기
*/

.flexContainer.alignSelf .flexItem:first-of-type{
    align-self: center;
}
.flexContainer.alignSelf:hover .flexItem:first-of-type{
    align-self: flex-start;
}
.flexContainer.alignSelf .flexItem:nth-of-type(2){
    line-height: 80px;
}
/* 
    ? align-self(자신):
    * flexItem중 지정된 item에만 정렬 속성 적용.
    stretch : item중 가장 높은 대상 기준으로 자신의 높이를 꽉 채우기
    flex-start : item중 가장 높은 대상 기준으로 자신의 위치를 상단으로 맞추기
    flex-end : item중 가장 높은 대상 기준으로 자신의 위치를 하단으로 맞추기
    center : item중 가장 높은 대상 기준으로 자신의 위치를 중앙으로 맞추기
*/

.flexContainer.orderItem .flexItem.order1{
    background-color: lightgreen; color: forestgreen; font-weight: bold; order: 1;
}
.flexContainer.orderItem .flexItem.order2{
    background-color: lightpink; color: deeppink; font-weight: bold; order: 2;
}
.flexContainer.orderItem .flexItem.order3{
    background-color: lightblue; color: midnightblue; font-weight: bold; order: -1;
}
/* 
    ? order :
    flexContainer의 flexItem을 0(default)을 기본으로 낮은 수(음수가능)일수록 앞으로, 높은 수일수록 뒤로.
*/