

@media screen and (min-width: 1280px) {
    header + nav{
        background-color: white;
    }
    header + nav .slideNav:after{
        content: ''; display: block; clear: both;
    }
    header + nav .slideNav > *{
        float: left;
    }
    header + nav .slideNav ul{
        width: 80%;
    }
    header + nav .slideNav ul li:not(:first-child){
        margin-left: 2.56%;
    }
}
/* desktop */