.classEx1{
    color: red;
}
/* 
    단순지정 활용 시 가장 문제가 되는 부분은 일회성으로 사용되는 클래스의 양이 시스템 규모에 비례하여 너무 많아진다. != 클래스 본연의목적
    무 분별 하게 사용하는 이유?
    1. 구조의 다양성이 없기 때문에 (div > div > div...)
    2. cssSelector(선택자) 개념이 약하기 때문에 ( div > div > div -> div > div:first-of-type...)
    3. javaScript 기반의 생태계 기반으로 변형이 일어나는 이유 ( javascript에서 tag를 선택하기 위해서는 간편한 방법이 class or id 사용 하는 것)
*/

.btn{
    padding: 10px 30px; border: 1px solid black; font-size:12px; display: inline-block; text-decoration: none; color: inherit;
}
.btn.create{
    background-color: white; color: blue; border: none;
}
.btn.modify{
    background-color: darkcyan; color: cyan; border-color: forestgreen;
}
.btn.delete{
    background-color: rgb(90,0,0); color: red; border-color: darkred;
}
.btn.confirm{
    background-color: slateblue; color: white; border-style: dashed;
    border-color: midnightblue;
}
.btn.cancel{
    color: gray; background-color: lightgray;
    border: gray;
}

#userName{
    padding: 10px; border: 1px solid green; color: green;
}
/* todo. 위에 기재된 css 속성들 활용해서 나머지 아이디 2개에 변형 줘보기 */