.classEx1{
    color: red;
}
.btn{
    padding: 10px 30px;
    border-width: 1px;
    font-size: 12px;
}
.btn.create{
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
}
.btn.modify{
    background-color: skyblue;
    border-style: dashed;
    border-color: blue;
    color:darkblue;
}
.btn.delete{
    background-color: lightcoral;
    color: darkred;
    border-style: dotted;
    border-color: red;
}
.btn.confirm{
    background-color: mediumpurple;
    color:purple;
    border-style: double;
    border-width: 5px;
    border-color: blueviolet;
    font-size: 18px;
}
.btn.cancel{
    color: darkgrey;
    border-color: slategrey;
    background-color: grey;
}
#userName{
    border: 1px solid #eaeaea;
    line-height: 21px;
    font-size: 12px;
    padding: 5px 15px;
    color: green;
}