body{
    margin: 0; padding: 0;
}
.classEx1{
    color: red;
}
/* 이런식의 단순지정 클래스 호출 방식은 추천하지 아니함. */

#userName{
    background-color: yellow; font-size: 12px;
    padding: 5px; line-height: 21px; margin-bottom: 50px;
}
/* 아이디 호출시 시스템 전체 페이지내에서 단 1회만 사용하는 것을 권장. */

.btn{
    padding: 10px 30px; border-width: 1px; font-size: 12px;
}
/* 
클래스를 사용할 시에는 중복처리해야 하는 부분과 분리처리해야 하는 부분 
을 나누어 작업해주는 것이 좋고, 이 범위는 잡힐 때 부터 통제 범위와
동일하다는 계산으로 사전에 미리 충분한 계획을 갖고 사용하는 것을 권장.
작업 이후 btn class 의 값과 주석 하단의 각 class(create,modify...)
들의 값을 변경해보면 알 수 있음.
*/
.btn.create{
    background-color: white; color: black;
    border-style: solid; border-color: black;
}
.btn.modify{
    background-color: transparent; border-style: dashed;
    border-color: gray; color: gray;
}
.btn.delete{
    background-color: rgb(90, 0, 0);
    color: red; border-style: solid; border-color: red;
}
.btn.confirm{
    background-color: midnightblue; color: white;
    border-style: solid; border-color: blue;
}
.btn.cancel{
    color: gray; border-color: gray; border-style: solid;
}