.classEx1{
    color: red;
}
.btn{
    padding: 5px 30px; font-size: 14px;
}
.btn.create{
    background-color: lightgreen; color: black; border-style: solid; border-color: forestgreen;
}
.btn.modify{
    background-color: lightskyblue; color: blue; border-style: dashed; border-color: midnightblue;
}
.btn.delete{
    background-color: coral; color: darkred; border-style: solid; border-color: crimson;
    border-width: 7px;
}
.btn.confirm{
    background-color:lightseagreen; color: darkslateblue; font-weight: bold;
    border-style: double; border-width: 5px; border-color: springgreen;
}
.btn.cancel{
    color: gray; border-color: gray; border-style: solid;
}
#cliName{
    line-height: 21px; font-size: 12px; border: 1px solid salmon; background-color: lightpink;
}