h1{
    font-size: 12px; color: #f03;
}
img{
    width: 100px; height: 100px; border: 3px solid #3f3;
}
ul,ol,dl{
    color: #60f;
}
ul li{
    font-size: 20px; font-weight: bold;
}
ol li{
    font-size: 12px; text-decoration: underline;
}
dl dt, dl dd{
    font-size: 35px;
}
dl dt{
    color: orange;
}
dl dd{
    color: brown;
}

section ul li figure img{
    width: 50px; height: 50px;
}
section ul li figure figcaption dl dt{
    color: skyblue;
}
section ul li figure figcaption dl dd{
    font-size: 50px;
}