body{
    font-size: 12px;
}
ul,ol,dl{
    color: #60f;
}
ul li{
    font-size: 15px; font-weight: bold;
}
ol li{
    font-size: 20px; text-decoration: underline;
}
dl dt,
dl dd{
    font-size: 35px;
}
dl dt{
    color: orange; 
}
dl dd{
    color: brown;
}

div ul li figure figcaption dl dt{
    font-size: 24px; color: skyblue;
}
div ul li figure figcaption dl dd{
    font-size: 50px;
}
/* ! css 정규식 문법 : 부모로부터 자손까지 중간생략없이 모두 기입 */