
@media screen and (max-width:767px) and (orientation:landscape){
	body{
        background-color:orange; color:white; font-weight:bold;
    }
    h1{
        font-size:1rem; text-align:center; line-height:2rem;
    }
    p{
        font-size:0.75rem; text-align:center; line-height:1rem;
    }
}
/* todo. landscape 구동시키기 */

@media screen and (max-width: 767px) and (orientation: portrait){
	body{
        background-color:red; color:white; font-weight:bold;
    }
    h1{
        font-size:1rem; text-align:center; line-height:2rem;
    }
    p{
        font-size:0.75rem; text-align:center; line-height:1rem;
    }
}
/* ? Mobile Device - 768미만 */

@media screen and (min-width: 768px) and (max-width:1279px) and (orientation: landscape){
	body{
        background-color:limegreen; color:green; font-weight:bold;
    }	
    h1{
        font-size:1rem; text-align:center; line-height:2rem;
    }
    p{
        font-size:0.75rem; line-height: 1.5rem; text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width:1279px) and (orientation: portrait){
	body{
        background-color:green; color:white; font-weight:bold;
    }	
    h1{
        font-size:2rem; text-align:right; line-height:3rem;
    }
    p{
        font-size:1rem; line-height:1.5rem;
    }
}
/* ? Tablet Device - 768 ~ 1280미만 */

@media screen and (min-width:1280px){
    body{
        background-color: blue; color: white; font-weight: bold;
    }
    h1{
        font-size: 2rem; line-height: 3rem;
    }
    p{
        font-size: 1rem; text-align: right; line-height: 1.5rem;
    }
}

/* ? desktopDevice - 1280이상 일때. mediaQuery */