/*
    * live server Device 연동 방법.
    * 1-1. window 기준 "window Key + r" 입력 후 cmd 입력 enter. -> ipconfig enter.(ipV4)
    * 1-2. mac 기준 wifi 설정 -> 세부사항 ip번호
    * 2. ip번호+port번호+/Responsive/step2/(index.html-생략가능) -> 접속하고자 하는 장치의 browser에서 입력
    todo. 192.168.100.48:5501/Responsive/step2
*/


@media screen and (max-width: 767px) and (orientation: landscape){
    body{
        
    }
    h1{
        
    }
    article{
        
    }
    article h2{
        
    }
    article p{
        
    }
}

/* todo  mobile - landscape */

@media screen and (max-width: 767px) and (orientation: portrait){
    body{
        background-color: lightblue; text-align: center;
    }
    h1{
        font-size: 24px; line-height: 30px; background-color: lightblue; margin-bottom: 30px; padding: 10px;
    }
    article{
        background-color: skyblue; margin-bottom: 30px; padding: 30px;
    }
    article h2{
        background-color: midnightblue; color: cyan; font-size: 18px; line-height: 24px; margin-bottom: 20px;
        padding: 10px; text-align: right;
    }
    article p{
        background-color: steelblue; font-size: 14px; line-height: 20px; padding: 20px; color: darkblue;
    }
}

/* ? mobile - portrait */

@media screen and (min-width: 768px) and (max-width: 1279px) and (orientation: landscape){
    body{
        background-color: lightyellow; text-align: center;
    }
    h1{
        font-size: 28px; line-height: 34px; background-color: darkgoldenrod;
        margin-bottom: 30px;
    }
    article{
        background-color: yellowgreen; margin-bottom: 30px; padding: 30px;
    }
    article h2{
        background-color: yellow; color: lightsalmon; font-size: 24px; line-height: 30px;
        margin-bottom: 20px;
    }
    article p{
        background-color: gold; font-size: 16px; line-height: 22px; padding: 20px;
    }
}

/* todo  tablet - landscape */

@media screen and (min-width: 768px) and (max-width: 1279px) and (orientation: portrait){
    body{
        background-color: lightpink;
    }
    h1{
        font-size: 32px; line-height: 40px; background-color: lightcoral; margin-bottom: 30px; padding: 10px;
        text-align: right;
    }
    article{
        background-color: lightyellow; margin-bottom: 30px; padding: 30px;
    }
    article h2{
        background-color: saddlebrown; color: lightsalmon; font-size: 24px; line-height: 30px; margin-bottom: 20px;
        padding: 10px; text-align: right;
    }
    article p{
        background-color: sandybrown; font-size: 16px; line-height: 22px; padding: 20px; color: brown;
    }
}

/* ? tablet - portrait */

@media screen and (min-width: 1280px){
    body{
        background-color: lightblue;
    }
    h1{
        font-size: 32px; line-height: 40px; background-color: lightgreen; margin-bottom: 30px; padding: 10px;
    }
    article{
        background-color: lightgray; margin-bottom: 30px; padding: 30px;
    }
    article h2{
        background-color: seagreen; color: lightgreen; font-size: 24px; line-height: 30px; margin-bottom: 20px;
        padding: 10px;
    }
    article p{
        background-color: lightyellow; font-size: 16px; line-height: 22px; padding: 20px; color: brown;
    }
}
/* 
    desktop - 
    display resolution 검색
    https://en.wikipedia.org/wiki/Display_resolution
*/