@media screen and (max-width: 767px) and (orientation: landscape){
    article{
        background-color: skyblue; margin-bottom: 30px; padding: 30px;
    }
    article h2{
        background-color: midnightblue; color: cyan; font-size: 18px; line-height: 24px;
        margin-bottom: 20px;
    }
    article p{
        background-color: steelblue; font-size: 14px; line-height: 20px; padding: 20px;
        color: darkblue;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait){
    body{
        background-color: lightpink;
    }
    h1{
        font-size: 32px; line-height: 40px; background-color: lightpink; margin-bottom: 30px;
        text-align: right;
    }
    article{
        background-color: skyblue; margin-bottom: 30px; padding: 30px;
    }
    article h2{
        background-color: midnightblue; color: cyan; font-size: 18px; line-height: 24px;
        margin-bottom: 20px;
    }
    article p{
        background-color: steelblue; font-size: 14px; line-height: 20px; padding: 20px;
        color: darkblue;
    }
}
/* mobile Code */

@media screen and (min-width: 768px) and (max-width: 1279px) and (orientation: landscape){
    article{
        background-color: yellowgreen; margin-bottom: 30px; padding: 30px;
    }
    article h2{
        background-color: yellow; color: lightsalmon; font-size: 24px; line-height: 30px;
        margin-bottom: 20px;
    }
    article p{
        background-color: gold; font-size: 16px; line-height: 22px; padding: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) and (orientation: portrait){
    body{
        background-color: lightpink;
    }
    h1{
        font-size: 32px; line-height: 40px; background-color: lightpink; margin-bottom: 30px;
        text-align: right;
    }
    article{
        background-color: lightyellow; margin-bottom: 30px; padding: 30px;
    }
    article h2{
        background-color: saddlebrown; color: lightsalmon; font-size: 24px; line-height: 30px;
        margin-bottom: 20px; text-align: right;
    }
    article p{
        background-color: sandybrown; font-size: 16px; line-height: 22px; padding: 20px;
        color: brown;
    }
}
/* tablet Code */

@media screen and (min-width:1280px){
    article{
        background-color: lightgray; margin-bottom: 30px; padding: 30px;
    }
    article h2{
        background-color: seagreen; color: lightgreen; font-size: 24px; line-height: 30px;
        margin-bottom: 20px;
    }
    article p{
        background-color: lightyellow; font-size: 16px; line-height: 22px; padding: 20px;
        color: brown;
    }
}
/* desktop Code */