body{
    margin: 0;
}
.firstDiv{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
     /* ! 부모입장에서 padding으로 적용하는게 바람직.  */
    background-color: #555;
}
.firstDiv article{
    background-color: #039;
    color: white;
}
.secondDiv{
    background-color: #ddd; margin: 20px 15px;
    /* 
        ! firstDiv의 margin-bottom: 10px 상쇄.
        ! secondDiv의 marginTop만 적용.
        ? 같던, 크던 상관없이 만나기만하면 margin상쇄.
    */
}
.secondDiv article{
    background-color: salmon;
    margin: 10px;
    /* 
        !margin-bottom이 비 적용 된 것을 확인.(경계선너머적용)
        ? 그렇기 때문에 padding을 권장.
        * 부모의 경계선을 밀어내기 위해 사용되는 margin은 부적합.
    */
}
.centerDiv{
    width: 300px; border: 1px solid #33f; text-align: center;
    margin: 0 auto 20px; padding: 10px;
}
.centerDiv article{
    background-color: sandybrown; margin:0 10px 10px;
}
.paddingDiv{
    padding: 10px 20px;
    border: 3px solid #333;
    background-color: #ff3;
    width: 100px;
    box-sizing: border-box;
}
.paddingDiv article{
    background-color: #039; color: white;
}