#wrap{
    width: 300px; height: 200px; background-color: gray; margin: 0 auto;
    position: relative; overflow-y: scroll;
}
#wrap div{
    width: 150px; height: 150px; position: absolute;
}
#wrap .redBox{background-color: #f00; left: 10px; top: 10px; z-index: 100;}
#wrap .greenBox{background-color: #0c0; left: 50px; top: 50px; z-index: 10;}
#wrap .blueBox{background-color: #39f; left: 90px; top: 90px; z-index: 1;}
/* 
    ? z-index : zAxis(z축)IndexLevel. 1-9999까지 입력가능.
    * 기준을 두고 사용하는 것이 좋음 : 1(page영역내에서 위에 떠있어야 하는),10(header,gnb or snb or fnb),100(panel,popup),1000(spare)
    ! a: 9999 -> b를 a위에 올려야돼. ? - 무조건 9999넣는 행위는 자제.
    ? global : header,footer,panel,popup등의 모든 페이지 혹은 일부 페이지 그룹에서 사용하는 공통요소
    ? page : 각 page별 다른 구간의 요소
*/