*{
    margin: 0; padding: 0;
}
body{
    width: 960px; margin: 0 auto; background-color: #ffc;
}
/* 
    body wrap을 사용할 수 없을 때
header,.wrap,footer{
    width: 960px; margin: 0 auto; 
} */
 header{
    background-color: #cff;
 }
 header nav{
    background-color: #9f9;
 }
 .wrap{
    margin-bottom: 50px; background-color: red;
 }
 .wrap:after{
    content: ''; display: block; clear: both;
 }
 .wrap aside,
 .wrap section{
    height: 800px; float: left;
 }
 .wrap aside{
    width: 200px;  background-color: rgba(255,255,0,0.5); 
}
 .wrap section{
    width: 760px; background-color: rgba(255,0,255,0.5);
 }
 footer{
    background-color: #f9f;
 }