#wrap{
    margin: 0 auto; width: 300px; height: 200px; background-color: #999;
    /* position: relative; */
}
#wrap div{
    width: 150px; height: 150px;
}
#wrap div.redBox{
    background-color: #f00; 
    /* left: 0px; top: 0px; */
}
#wrap div.greenBox{
    background-color: #0f0; 
    /* left: 0px; top: 0px; */
}
#wrap div.blueBox{
    background-color: #00f; 
    /* left: 0px; top: 0px; */
}