html,body{
    height: 100%;
}
body{
    margin: 0; background-color: black;
}
header{
    background-color: red; height: 20%; position: fixed; width: 100%;
    z-index: 1000;
}
aside{
    background-color: green; position: absolute; width: 20%; height: 80%; top: 20%; left: 0;
}
article{
    background-color: blue; position: absolute; width: 70%; height: 80%; top: 20%; right: 0;
}
footer{
    background-color: orange; position: absolute; width: 100%; top: 100%;
    line-height: 55px; font-size: 24px; text-align: center;
}