*{
    margin: 0; padding: 0;
}
.wrap{
    background-color: gray;
}
.wrap .exam_1{
    background-color: lightskyblue;
}
.wrap .exam_1:after{
    content: ''; display: block; clear: both; visibility: hidden;
}
/* 
    :afterCanceler - float로 인해 무너지는 부모공간을 복원하기 위함.
    - 적용대상 : float들의 부모.
    1. :after - 후위 선택자.(지정된위치 맨마지막부분)
    2. content - 지정된 대상에 무언가를 넣어주는 역할 (ex> content : '1'; -> 해당 공간 맨 밑에 1이 들어감)
    3. display: block - width: 100%;
    4. clear - float Counter(무효화). both (둘 다). 왜냐하면 float: left, right 만 존재하기 때문
    5. visibility: hidden - 가시성 끄기.(비 필수. 예전에는 aftercancel 적용시 하얀 선이 보이는 문제가 있었음..)
*/
.wrap .exam_1 img{
    float: left;
}
.wrap .exam_1 p{
    font-size: 20px; line-height: 26px;
}
.wrap .exam_2{
    background-color: lightseagreen;
    margin-bottom: 10px;
    /* 2. exam_3의 clear가 작동 되더라도 정상적으로 적용되지 못함 */
}
.wrap .exam_2:after{
    content: ''; display: block; clear: both;
}
/* 3. 그렇기 때문에 float대상들의 부모에게 :afterCancel처리를 해야함 */
.wrap .exam_2 div{
    width: 33.33%; background-color: lightpink; float: left;
}

.wrap .exam_3{
    background-color: orange;
    /* 1. clear: left;  - 근본적 문제해결에 도움을 주지 못함 ? 자신은 안끌려 올라 가지만 위 exam_2의 무너짐은 해결되지 않음*/
}