a{
    text-decoration: none; font-size: 20px; word-spacing: 5px; display: inline-block;
}
a:link{
    color: #33f;
}
a:visited{
    color: #c00;
}
a:hover{
    color: #3cf;
}
a:active{
    color: yellow;
}
/* a:focus{
    color: black;
} */