*{
    margin: 0; padding: 0;
}
body{
    width: 960px; background-color: #ffc; margin: 0 auto;
}
header{
    background-color: #cff;
}
header nav{
    background-color: #9f9;
}
.wrap{
    margin-bottom: 50px;
}
.wrap:after{
    content: ''; display: block; clear: both;
}
.wrap aside,
.wrap section{
    height: 800px; float: left;
}
.wrap aside{
    width: 200px; background-color: #ff9966;
}
.wrap section{
    width: 760px; background-color: #66f;
}
footer{
    background-color: violet;
}