*{
    margin: 0; padding: 0;
}
.wrap{
    max-width: 960px; margin: 0 auto;
}
.wrap header{
    background-color: #ff6a00; line-height: 55px;
}
.wrap header:after{
    content: ''; display: block; clear: both;
}
.wrap header h1,
.wrap header nav{
    float: left;
}
.wrap header h1{
    width: 8.5%; background-color: red; color: white; font-size: 20px;
    text-align: center;
}
.wrap header nav{
    width: 91.5%; background-color: blue;
}
.wrap header nav ul{
    text-align: center; 
}
.wrap header nav ul li{
    display: inline-block;
}
.wrap header nav ul li a{
    color: white; display: block;
}
/* .wrap header nav ul:after{
    content: ''; display: block; clear: both;
}
.wrap header nav ul{
    width: 250px; margin: 0 auto;
}
.wrap header nav ul li{
    float: left; line-height: 55px; list-style: none;
}
.wrap header nav ul li a{
    color: white;
} */
.wrap section{
    margin-bottom: 300px;
}
.wrap section:after{
    content: ''; display: block; clear: both;
}
.wrap section h2{
    background-color: skyblue;
}
.wrap section article{
    float: left; width: 33.33%;
}
.wrap section article h3{
    background-color: black; color: white;
}
.wrap section article ul li{
    display: block; line-height: 35px;
}
.wrap footer{
    text-align: center; background-color: #4800ff;
    color: white; line-height: 55px;
}