*{
    margin: 0; padding: 0;
}
ul{
    overflow: hidden;
    /* ! float 해제용으로 사용금지. 외 다른이유로 사용할 경우에 :after를 사용하지 않아도됨. */
}
ul li{
    display: block; width: 16.66%; border: 1px solid black;
    float: left;
    /* width: calc(16.66% - 2px);  */
    box-sizing: border-box;
}
ul li figure img{
    width: 100%; display: block;
} 
ul li figure figcaption{
    text-align: center; background-color: yellow;
}