*{
    margin: 0; padding: 0;
}
.wrap{
    width: 960px; margin: 0 auto;
}
.wrap header{
    background-color: #ff6a00;
}
/* test가 끝난 code는 삭제처리 (주석도마찬가지 = project 종료시 모두 삭제) */
.wrap header::after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.wrap header h1{
    font-size: 20px; line-height: 55px; float: left; background-color: red; color: white; text-align: center;
    width: 130px;
}
.wrap header nav{
    background-color: blue; width: 830px; float: left;
}
.wrap header nav ul{
    text-align: center;
}
.wrap header nav ul li{
    display: inline-block;
}
.wrap header nav ul li a{
    color: white; display: block; line-height: 55px;
}

section{
    margin-bottom: 300px;
}