html,body{
    height: 100%;
}
body{
    margin: 0; background-color: black;
}
header{
    position: fixed; background-color: red; width: 100%; left: 0; top: 0;
    height: 20%; color: white; z-index: 10;
}
aside{
    position: absolute; width: 20%; background-color: green; left: 0; top: 20%;
    height: 80%;
}
article{
    position: absolute; background-color: blue; width: 70%; top: 20%; left: 30%;
    height: 80%;
}
footer{
    position: absolute; width: 100%; left: 0; top: 100%; line-height: 55px;
    text-align: center; font-size: 24px; background-color: orange;
}