*{
    margin: 0; padding: 0;
}
.wrap{
    width: 960px; margin: 0 auto;
}
.wrap header{
    background-color: #ff6a00;
}
.wrap header:after{
    content: ''; display: block; clear: both;
}
.wrap header h1{
    width: 130px; line-height: 55px; float: left; font-size: 20px; background-color: red;
    color: white; text-align: center;
}
.wrap header nav{
    width: 830px; float: left; background-color: blue;
}
.wrap header nav ul{
    list-style: none; text-align: center;
    /* width: 280px; margin: 0 auto;  background-color: yellow;  */
}
/* .wrap header nav ul:after{
    content: ''; display: block; clear: both;
} */
.wrap header nav ul li{
    display: inline-block;
    /* float: left; width: 56px; */
}
.wrap header nav ul li a{
    color: white; line-height: 55px;
}
section{
    margin-bottom: 300px;
}
section:after{
    content: ''; display: block; clear: both;
}
section h2{
    background-color: #0cf;
}
section article{
    float: left; width: 33.33%;
}
section article h3{
    background-color: black; color: white;
}
section article ul li{
    display: block; font-size: 14px; line-height: 20px;
}
footer{
    background-color: #4800ff; color: white; line-height: 55px;
}