body{
    margin: 0;
}
ul{
    margin: 0; padding: 0;
}
ul:after{
    content: ''; display: block; clear: both;
}
ul li{
    width: 33.33%; float: left; display: block; border: 1px solid red; box-sizing: border-box;
    /* 
        ? 100%
        * way1 : 100%;
        * way2 : 50%; 
        * way3 : 33.33%;
        * way4 : 25%;
        * way5 : 20%;
        * way6 : 16.66%;
        * way7 : 14.28%;
        * way8 : 12.5%;
        * way9 : 11.11%;
        * way10 : 10%;
    */
}
ul li figure{
    margin: 0;
}
ul li figure > *{
    float: left; width: 49%; margin-bottom: 10px;
}
ul li figure img{
    margin-right: 2%;
}
ul li figure figcaption{
    border-bottom: 1px solid #555;
}
ul li figure figcaption dl dt{
    font-size: 24px; margin-bottom: 35px;
}
ul li figure figcaption dl dd{
    font-size: 14px; line-height: 24px;
}