*{
    margin: 0; padding: 0;
}

ul:after{
    content: ''; display: block; clear: both;
}
ul li{
    width: 16.66%; float: left; display: block;
}
ul li figure img{
    width: 100%; display: block;
}
ul li dl{
    text-align: center; background-color: yellow;
}
/* ul > *{
    display: block;
}
ul li{
    width: 16.66%; float: left; text-align: center; background-color: yellow;
}
ul li figure img{
    width: 100%;
} */