body{
    margin: 0;
}
.wrap{
    background-color: gray; overflow: hidden;
}
.wrap .exam1 img{
    float: left; margin : 0 15px 5px 0;
}
.wrap .exam1 p{
    font-size: 19px; line-height: 32px; margin: 0;
}

.wrap .exam2{
    background-color: red; clear: left;
}
.wrap .exam2:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.wrap .exam2 div{
    width: 100px; height: 100px; background-color: #0cf;
    float: right;
}