*{
    margin: 0; padding: 0;
}
.wrap{
    width: 960px; margin: 0 auto;
}
.wrap header{
    background-color: orange;
}
.wrap header:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.wrap header h1,
.wrap header nav{
    float: left;
}
.wrap header h1{
    width: 130px; background-color: crimson; text-align: center;
    line-height: 55px; font-size: 20px;
}
.wrap header nav{
    width: 830px; background-color: midnightblue;
}
.wrap header nav ul{
    text-align: center;
}
.wrap header nav ul li{
    display: inline-block;
}
.wrap header nav ul li a{
    color: white; display: block; line-height: 55px;
}
section{
    margin-bottom: 300px; background-color: chartreuse;
}
section:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
section h2{
    background-color: lightskyblue;
}
section article{
    float: left; width: 33.33%;
}
section article h3{
    color: white; background-color: black;
}
section article ul li{
    display: block; line-height: 35px;
}
footer{
    text-align: center; background-color: cyan; line-height: 55px;
}