body{
    margin: 0;
}
ul{
    margin: 0; padding: 0;
}
ul:after{
    content:''; display: block; visibility: hidden; clear: both; 
}
ul li{
    width: 16.66%; float: left; border: 1px solid black; display: block;
    box-sizing: border-box;
}
ul li figure,
ul li figure dl,
ul li figure dl dd{
    margin: 0;
}
ul li figure img{
    width: 100%; display: block;
}
ul li dl{
    text-align: center; background-color: yellow;
}