body{
    background-color: #e4e5e7;
}
.mont{
    font-family: 'Montserrat';
}
.crim{
    font-family: 'Crimson Pro';
}
input[type='radio'],
input[type='checkbox']{
    display: none;
}
a{
    text-decoration: none;
}
/* A / U */

@media screen  and (min-width: 1280px){
    header > div,
    footer div{
        max-width: 1170px; margin: 0 auto;
    }

    header{
        border-bottom: 1px solid #f0f2f7; background-color: white;
    }
    header > div:after{
        content: ''; display: block; clear: both;
    }
    header > div > *{
        float: left;
    }
    header > div label.material-icons{
        width: 5.12%; max-width: 60px; line-height: 90px; box-sizing: border-box;
        border-right: 1px solid #f0f2f7; display: block;
    }
    header > div h1{
        width: 10.68%; max-width: 125px;
    }
    header > div h1 a{
        display: block; padding: 31px 0; text-align: right;
    }
    header > div h1 a img{  
        width: 100%; max-width: 92px;
    }
    header > div nav{
        width: 54.7%;
    }
    header > div nav ul{
        text-align: right;
    }
    header > div nav ul li{
        display: inline-block;
    }
    header > div nav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header > div nav ul li a{
        display: block; font-size: 14px; font-weight: 600; color: #343e5c; line-height: 90px;
    }
    header > div div{
        width: 29.5%; font-size: 11px; color: #343e5c; line-height: 90px; text-align: right;
    }
    header > div div *:not(input){
        display: inline-block;
    }
    header > div div strong{
        padding-left: 25px; line-height: 17px; font-weight: 600;
        background: url('../images/bul_cart.png') left top / contain no-repeat;
    }
    header > div div span{
        width: 24px; line-height: 24px; background-color: #e3e8f0; border-radius: 12px;
        text-align: center; margin-left: 1%;
    }
    header > div div input[type='button']{
        font-size: 11px; font-family: inherit; font-weight: 600;  padding: 8px 15px; border: 2px solid #e3e8f0;
        background-color: transparent; border-radius: 16px; margin-left: 10%;
    }

    .paging{
        position: relative; background-color: white; border-radius: 5px; clear: both;
    }
    .paging > a{
        position:absolute; top:0; line-height: 90px; width: 16.66%; font-size: 18px; font-weight: 700; color: #3a405b;
        text-align: center;
    }
    .paging > a:first-of-type{
        left: 0; border-right: 1px solid #f0f2f7;
    }
    .paging > a:last-of-type{
        right: 0; border-left: 1px solid #f0f2f7;
    }
    .paging ol{
        text-align: center; padding: 20px 17%; box-sizing: border-box; list-style: none;
    }
    .paging ol li{
        display: inline-block;
    }
    .paging ol li a{
        width: 50px; line-height: 50px; border-radius: 25px; font-size: 14px; font-weight: 600; color: #3a405b;
        display: block; transition: box-shadow 0.3s ease-out;
    }
    .paging ol li a.active,
    .paging ol li a:hover{
        box-shadow: 0 5px 8px rgba(168,172,185,0.62); color: #b9bed1;
    }
    /* ? pager Fin*/
    /* todo. footer */
    footer{
        background-color: #222328;
    }
    footer div{
        padding: 60px 0; position: relative;
    }
    footer div span{
        position: absolute; display: block; right: 0; top: 60px;
    }
    footer div:first-child{
        border-bottom:  1px solid rgba(255,255,255,0.05);
    }
    footer div:first-child h2{
        position: absolute; left: 0; top: 60px; width: 7.86%; max-width: 92px; min-width: 78px;
    }
    footer div:first-child h2 img{
        width: 100%;
    }
    footer div:first-child ul{
        padding: 0 10%; text-align: center; text-transform: uppercase;
    }
    footer div:first-child ul li{
        display: inline-block;
    }
    footer div:first-child ul li:not(:first-child){
        margin-left: 2.56%;
    }
    footer div:first-child ul li a{
        display: block; color: white; font-size: 12px; font-weight: 600; letter-spacing: 1px;
    }
    footer div:first-child span{
        width: 10%; text-align: right;
    }
    footer div:first-child span a{
        display: inline-block; width: 24px; height: 18px; background-position: center;
        background-repeat: no-repeat; text-indent: -9999px; text-align: left;
    }
    footer div:first-child span a:not(:first-child){
        margin-left: 10%;
    }
    footer div:first-child span a:nth-child(1){
        background-image: url('../images/sns_01.png');
    }
    footer div:first-child span a:nth-child(2){
        background-image: url('../images/sns_02.png');
    }
    footer div:first-child span a:nth-child(3){
        background-image: url('../images/sns_03.png');
    }
    footer div:nth-child(2) p{
        max-width: 520px; font-size: 14px; font-style: italic; font-weight: 400;
        line-height: 22px; color: rgba(255,255,255,0.3);
    }
    footer div:nth-child(2) span{
        width: 50%; text-align: right; padding-top: 15px;
    }
    footer div:nth-child(2) span a{
        font-size: 11px; color: rgba(255,255,255,0.3); display: inline-block; font-weight: 600;
        text-transform: uppercase; letter-spacing: 1px;
    }
    footer div:nth-child(2) span a:last-of-type{
        margin-left: 2.13%;
    }
    /* footer Fin */
}
/* desktop */