

@media screen  and (min-width: 1280px){
    header+nav{
        background-color: white;
    }
    header+nav .slideNav:after{
        content: ''; display: block; clear: both;
    }
    header+nav .slideNav > *{
        float: left;
    }
    header+nav .slideNav ul{
        width: 80%;
    }
    header+nav .slideNav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header+nav .slideNav ul li:not(:last-child){
        float: left;
    }
    header+nav .slideNav ul li:last-child{
        float: right;
    }
    header+nav .slideNav ul li a{
        display: block; font-size: 11px; color: #b9bed1; font-weight: 600; text-transform: uppercase; letter-spacing: 1px;
        line-height: 56px;
    }
    header+nav .slideNav ul li a.active,
    header+nav .slideNav ul li a:hover{
        color: #343e5c;
    }
    header+nav .slideNav input[type='search']{
        width: 17%; margin-left: 3%; padding: 19px 2% 19px 4%; box-sizing: border-box;
        border-width: 0 1px; border-style: none solid; border-color: #f0f2f7;
        background: url('../images/bul_search.png') no-repeat 10% center;
        font-family: inherit; font-weight: 600; font-size: 14px;
    }
    header+nav .slideNav input[type='search']::placeholder{
        color: #a1a7db;
    }
    /* ? slideNav Fin */
    section.slideArea{
        background-color: #1c1e23; margin-bottom: 50px;
    }
    section.slideArea h2{
        display: none;
    }
    section.slideArea div{
        max-width: 1400px; margin: 0 auto; position: relative;
    }
    section.slideArea div > a{
        display: block; width: 42px; font-size: 18px; color: white; font-weight: 600; border: 2px solid rgba(255,255,255,0.2);
        text-align: center; padding: 14px 0 10px; border-radius: 24px;
        position: absolute; top: 46%; z-index: 10;
    }
    section.slideArea div > a.btn_conL{
        left: 11.78%;
    }
    section.slideArea div > a.btn_conR{
        right: 11.78%;
    }
    section.slideArea div ol{
        position: absolute; bottom: 6%; left: 47.85%; z-index: 1;
        /* width: 100%;  left: 0;  text-align: center; */
    }
    section.slideArea div ol li{
        display: inline-block;
    }
    section.slideArea div ol li:not(:first-child){
        margin-left: 4px;
    }
    section.slideArea div ol li a{
        display: block; width: 8px; height: 8px; text-indent: -9999px; border-radius: 4px; border: 2px solid rgba(255,255,255,0.5);
        box-sizing: border-box;
    }
    section.slideArea div ol li a.active,
    section.slideArea div ol li a:hover{
        background-color: white;
    }
    section.slideArea > div ul li{
        display: block;
    }
    section.slideArea > div ul li figure{
        position: relative;
    }
    section.slideArea > div ul li figure img{
        width: 100%; display: block;
    }
    section.slideArea > div ul li figure figcaption{
        position: absolute; color: white; top: 0; left: 0;
    }
}
/* desktop */