

@media screen  and (min-width: 1280px){
    header+nav{
        background-color: white;
    }
    header+nav .slideNav:after{
        content: ''; display: block; clear: both;
    }
    header+nav .slideNav > *{
        float: left;
    }
    header+nav .slideNav ul{
        width: 80%;
    }
    header+nav .slideNav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header+nav .slideNav ul li:not(:last-child){
        float: left;
    }
    header+nav .slideNav ul li:last-child{
        float: right;
    }
    header+nav .slideNav ul li a{
        display: block; font-size: 11px; color: #b9bed1; font-weight: 600; text-transform: uppercase; letter-spacing: 1px;
        line-height: 56px;
    }
    header+nav .slideNav ul li a.active,
    header+nav .slideNav ul li a:hover{
        color: #343e5c;
    }
    header+nav .slideNav input[type='search']{
        width: 17%; margin-left: 3%; padding: 19px 2% 19px 4%; box-sizing: border-box;
        border-width: 0 1px; border-style: none solid; border-color: #f0f2f7;
        background: url('../images/bul_search.png') no-repeat 10% center;
        font-family: inherit; font-weight: 600; font-size: 14px;
    }
    header+nav .slideNav input[type='search']::placeholder{
        color: #a1a7db;
    }
    /* ? slideNav Fin */
    section.slideArea{
        background-color: #1c1e23; margin-bottom: 50px;
    }
    section.slideArea h2{
        display: none;
    }
    section.slideArea div{
        max-width: 1400px; margin: 0 auto; position: relative;
    }
    section.slideArea div > a{
        display: block; width: 42px; font-size: 18px; color: white; font-weight: 600; border: 2px solid rgba(255,255,255,0.2);
        text-align: center; padding: 14px 0 10px; border-radius: 24px;
        position: absolute; top: 46%; z-index: 10;
    }
    section.slideArea div > a.btn_conL{
        left: 9.78%;
    }
    section.slideArea div > a.btn_conR{
        right: 9.78%;
    }
    section.slideArea div ol{
        position: absolute; bottom: 6%; left: 47.85%; z-index: 1;
        /* width: 100%;  left: 0;  text-align: center; */
    }
    section.slideArea div ol li{
        display: inline-block;
    }
    section.slideArea div ol li:not(:first-child){
        margin-left: 4px;
    }
    section.slideArea div ol li a{
        display: block; width: 8px; height: 8px; text-indent: -9999px; border-radius: 4px; border: 2px solid rgba(255,255,255,0.5);
        box-sizing: border-box;
    }
    section.slideArea div ol li a.active,
    section.slideArea div ol li a:hover{
        background-color: white;
    }
    section.slideArea > div ul li{
        display: block;
    }
    section.slideArea > div ul li figure{
        position: relative;
    }
    section.slideArea > div ul li figure img{
        width: 100%; display: block;
    }
    section.slideArea > div ul li figure figcaption{
        position: absolute; color: white; top: 20%; left: 15%; width: 32.85%; max-width: 460px; color: white;
    }
    section.slideArea > div ul li figure figcaption dl{
        margin-bottom: 60px;
    }
    section.slideArea > div ul li figure figcaption dl dt{
        font-size: 42px; font-weight: 900;  line-height: 50px; margin-bottom: 25px;
    }
    section.slideArea > div ul li figure figcaption dl dd{
        font-size: 16px; font-weight: 400; line-height: 24px;
    }
    section.slideArea > div ul li figure figcaption input[type='button']{
        width: 35.86%; background-color: #2754eb; font-size: 11px; font-weight: 600; line-height: 42px;
        border-radius: 21px; color: inherit; text-transform: uppercase; border: none; letter-spacing: 1px;
    }
    /* ? sliderArea Fin */

    .contentArea{
        margin-bottom: 50px;
    }
    .contentArea > form fieldset{
        background-color: white; border-radius: 5px; line-height: 56px; padding: 0 1.7%;
        box-sizing: border-box; margin-bottom: 30px;
    }
    .contentArea > form fieldset label{
        display: inline-block; vertical-align: middle; font-weight: 600;
    }
    .contentArea > form fieldset label:not([for='freeShipCheck']){
        font-size: 11px; color: #a1a7bd; text-transform: uppercase;
    }
    .contentArea > form fieldset span.sbSelect{
        margin-left: 3.41%;
    }
    .contentArea > form fieldset label[for='sb_keywords'],
    .contentArea > form fieldset label[for='ship_Select']{
        margin-left: 2.56%; padding-left: 2.56%; border-left: 2px solid rgba(0,0,0,0.05);
        /* 1.7% */
    }
    .contentArea > form fieldset input:not([type='checkbox']){
        font-size: 13px; line-height: 30px; box-sizing: border-box; border: 1px solid #e3e8f0;
        border-radius: 16px; font-weight: 600; padding: 0 1%; font-family: inherit; color: #343e5c;
        background-color: #f0f2f7;
    }
    .contentArea > form fieldset input:not([type='checkbox'])::placeholder{
        color: #b9bfd3;
    }
    .contentArea > form fieldset input[type='search']{
        width: 13.67%;
    }
    .contentArea > form fieldset input[type='text']{
        width: 5.5%;
    }
    .contentArea > form fieldset input[type='search'],
    .contentArea > form fieldset input[id='range_minprice']{
        margin-left: 0.85%;
    }
    .contentArea > form fieldset label[for='range_minprice'],
    .contentArea > form fieldset label[for='freeShipCheck']{
        margin-left: 2.56%;
    }
    .contentArea > form fieldset label[for='freeShipCheck']{
        padding-left: 2.56%; font-size: 13px; color: #343e5c; transition: background .5s ease-out;
    }
    .contentArea > form fieldset input[type='checkbox']:checked + label[for='freeShipCheck']{
        background: url('../images/bul_check.png') no-repeat left center;
    }
    .contentArea > form fieldset .shipSelect select{
        text-align: right;
    }
    /* ? sortBar Fin */

    .contentArea aside{
        width: 23.07%; float: left;
    }
    .contentArea aside nav{
        background-color: white; border-radius: 5px; margin-bottom: 30px;
    }
    .contentArea aside nav *{
        display: block;
    }
    .contentArea aside nav ul > li:not(:last-child){
        border-bottom: 1px solid #f0f2f7;
    }
    .contentArea aside nav ul > li > a{
        font-size: 13px; color: #343e5c; font-weight: 600; padding: 15px 7%;
    }
    .contentArea aside nav ul > li > a:after{
        content: url('../images/bg_arrow.png'); float: right; transform: rotate(0deg);
        transition: transform .5s ease-out;
    }
    .contentArea aside nav ul > li:hover > a:after{
        transform: rotate(-180deg);
    }
    .contentArea aside nav ul > li ol{
        background-color: #f0f2f7;
    }
    .contentArea aside nav ul > li ol li a{
        font-size: 0px; opacity: 0; font-weight: 600; color: #a1a7bd; padding: 0px 7%;
        transition: all .3s ease-out;
    }
    .contentArea aside nav ul > li:hover ol li a{
        font-size: 11px; opacity: 1; padding: 15px 7%; border-bottom: 1px solid #dfe4ee;
    }
    /* ? sideMenu Fin */



    .contentArea section{
        margin-left: 2.56%; width: 74.37%; float: left;
    }

}
/* desktop */