
/*
    반응형 (responive) : 적응형(Adaptive)이후 단계로 장치의 변화나 화면 크기의 변화에 따라 내부 Layout요소들이
    변경 및 조정 되는 것을 말함.

    크게 두 종류로 나누어 지는데

    1. 장치상반응형 (deviceControlResp) : 장치의 접근을 통한 식별부호 (S/N, M/N, MAC Addr..)를 이용하여
    개별 file들을 장착시키는 반응형태

    2. 화면상반응형 (ResolutionResp) : 출력되는 장치(모니터,빔,스마트폰,태블릿)의 화면크기(Viewport)를 측정하고
    이를 이용하여 분리된 source를 적용하는 반응형태.
    
    etc. 이와 별개로 장치별 구현방식이 있으나 이 방법은 현재는 많이 사용되지 아니함(ex> m.naver.com <->naver.com)

    media 는 지원디바이스가 다양하나, 브라우저 특성을 많이 타기 때문에 
    사용 전 브라우저 지원 여부를 확인해 봐야 한다.

    사용방법
    A. html head 에 <link rel="stylesheet" type="text/css" href="" media="screen" /> 방식으로 사용한다.
    B. @import 에 url() screen; 처럼 뒤에 적어 사용 한다.
    C. @media-query에 @media screen and (min-width:768px) 처럼 사용한다.
*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('pc.css') screen;
@import url('print.css') print;