body{
    font-family: 'Roboto';
}
h1{
    font-size: 42px; font-weight: 900; color: red; margin-bottom: 30px;
    line-height: 56px;
}
article h2{
    font-size: 21px; font-weight: 700; color: darkred; margin-bottom: 20px;
    line-height: 27px;
}
article p{
    font-size: 16px; font-weight: 400; color: brown; line-height: 22px;
}
article p:not(:last-of-type){
    margin-bottom: 30px;
}