/* gradient - 색의 점진적 이동 = 유사색 계열이 안정적이며 핀설정이 많을 수록 유연하고 부드러움 */
[class$='G']:not(.yellowG){
    padding: 20px;
}
.redG{
    background: #9b1f1f;
    /* 적용안되었을 때 대비 - ex> 옛날 브라우저.. */
    background: linear-gradient(135deg,#9b1f1f 0%,#ea7e7e 100%);
    /* 적용광각,색상 및 위치지정1,색상 및 위치지정2,색상 및 위치지정3.... */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b1f1f",endColorstr="#ea7e7e",GradientType=1);
    /* IE gradient Code - 요즘은 안쓰는 코드.. */
}
.greenG{
    background: #20a024;
    background: linear-gradient(to right, #20a024 0%, #71c46b 100%);
}
.blueG{
    background: #1e5799;
    background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
}
.yellowG{
    width: 250px;  text-align: center; line-height: 250px; border-radius: 125px;
    background: #fefcea;
    background: radial-gradient(ellipse at center, #fefcea 0%, #f1da36 100%);
}
/* http://www.colorzilla.com/gradient-editor */