body, ul, dl, dt, dd{
    margin: 0; padding: 0;
}
/* div{
    margin-bottom: 30px;
} */
.displayProperty span:nth-child(1){
    display: block; width: 50%;
    background-color: #fc9393;
}
.displayProperty span:nth-child(2){
    display: inline-block; width: 25%;
    background-color: #94fc93;
}
.displayProperty span:nth-child(3){
    display: inline; width: 75%;
    background-color: #93c5fc;
    text-align: center;
}
.displayProperty span:nth-child(4){
    display: none;
}
.visibilityProperty span{
    background-color: #ff6a00; display: block; border: 1px solid black;
}
.visibilityProperty span:first-child{
    visibility: visible;
}
.visibilityProperty span:nth-child(2){
    visibility: hidden; height: 500px;
}
.visibilityProperty input[type='checkbox']:checked~table{
    visibility: visible;
}
.visibilityProperty table{
    visibility: collapse; border-spacing: 0;
}
.visibilityProperty table caption{
    display: none;
}
.visibilityProperty input[type='checkbox']:checked~table caption{
    display: table-caption;
}

.opacityProperty ul:after{
    content: ''; display: block; clear: both;
}
.opacityProperty ul li{
    display: block; float: left; width: 33%; background-color: black; position: relative;
}
.opacityProperty ul li:not(:first-child){
    margin-left: 0.5%;
}
.opacityProperty ul li figure{
    margin: 0;
}
.opacityProperty ul li figure img{
    width: 100%; opacity: 0.3;
}
.opacityProperty ul li:hover figure img{
    opacity: 1;
}
.opacityProperty ul li figure figcaption{
    position: absolute; width: 25%; height: 15%; padding: 5%; left: 32.5%; top: 37.5%;
    /* min-width: 110px; min-height: 100px; */ font-size: 1vw; text-align: center;
    background-color: rgba(255,255,255,0.5);
}


.boxsizingProperty div{
    width: 500px; margin: 0 auto; border: 10px solid #ff6a00;
    background-color: #fc9393; padding: 50px;
}
.boxsizingProperty div:first-child{
    box-sizing: content-box;
}
.boxsizingProperty div:last-child{
    box-sizing: border-box;
}
.shadowProperty h1{
    text-shadow: 5px 10px 10px rgba(0,0,0,0.5);
}
.shadowProperty p{
    width: 300px; height: 300px;
    border: 3px solid #f00;
}
.shadowProperty p:first-of-type{
    box-shadow: 8px 10px 2px rgba(0,0,0,0.5);
}
.shadowProperty p:last-of-type{
    box-shadow: inset 8px 10px 2px rgba(0,0,0,0.5);
}
/* http://css3generator.com/ */


.redG {
    background: #9b1f1f;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #9b1f1f 0%, #d13327 41%, #c92520 58%, #ea7e7e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #9b1f1f 0%, #d13327 41%, #c92520 58%, #ea7e7e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #9b1f1f 0%, #d13327 41%, #c92520 58%, #ea7e7e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b1f1f', endColorstr='#ea7e7e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

    /*
        linear-gradient : 그라디언트의 형태 ex> radial-gradient 는 원형 그라디언트
        deg : 그라디언트의 각도
        #color ?% : 색상블록 으로 컬러와 위치
    */
}

.blueG {
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
    /* IE6-9 */

}

.greenG {
    background: #20a024;
    /* Old browsers */
    background: -moz-linear-gradient(top, #20a024 0%, #25c630 41%, #2bbf20 59%, #71c46b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #20a024 0%, #25c630 41%, #2bbf20 59%, #71c46b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #20a024 0%, #25c630 41%, #2bbf20 59%, #71c46b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20a024', endColorstr='#71c46b', GradientType=0);
    /* IE6-9 */

}

.yellowG {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    line-height: 500px;
    text-align: center;
    background: #fefcea;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #fefcea 0%, #f1da36 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #fefcea 0%, #f1da36 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #fefcea 0%, #f1da36 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefcea', endColorstr='#f1da36', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.redG h1,
.blueG h1,
.greenG h1 {
    color: #fff;
}
