body,ul,dl,dt,dd,figure{
    margin: 0; padding: 0;
}
div{
    margin-bottom: 30px;
}
.displayProperty span:nth-child(1){
    display: block; width: 50%; background-color: #fc9393; padding: 30px;
    box-sizing: border-box;
}
.displayProperty span:nth-child(2){
    display: inline-block; background-color: #94fc93; width: 25%; padding: 30px;
    /* margin: 30px 0;  */
}
.displayProperty span:nth-child(3){
    display: inline; width: 75%; background-color: #93c5fc;
    margin: 50px; padding: 30px;
}
.displayProperty span:nth-child(4){
    background-color: #5c38fc; color: white; display: none;
    /* ! 화면자체에 존재하지 않음. 부드러운 움직임등의 효과 적용도 어려움. 자칫잘못하면 serverData씹힘. */
}
/*
    ? display의 속성은 총 4가지
    * block = block이 되게 되면 width:100%의 값을 갖는 위에서 아래로 나열되는 객체가 된다.
    * inline-block = inline-block이 되면 width의 값을 가질수 있고, inline 타입으로 (옆으로) 나열되는 객체가 된다.
    * inline = inline이 되면 width등의 크기나 간격 등의 값을 가질수 없고 옆으로는 나열 되지만, 간격을 벌릴수 없는 객체가 된다.
    * none = 대상이 보이지 않는다. (렌더 자체가 안된다.)
*/

.visibilityProperty span{
    background-color:#ff6a00; display: block; border: 1px solid black;
}
.visibilityProperty span:first-child{
    visibility: visible;
}
.visibilityProperty span:nth-child(2){
    height: 500px; visibility: hidden;
}
.visibilityProperty input[type='checkbox']:checked~table{
    visibility: visible;
}
.visibilityProperty table{
    visibility: collapse; border-spacing: 0;
}
/*
    ? visibility의 속성은 총 3가지
    * visibility : visible  = 보여주다.
    * visibility : hidden = 감추다.(영역보존)
    * visibility : collapse = none과 달리 실제 존재는 하되 무너져있다.(data받기 용이)
*/
.opacityProperty ul:after{
    content: ''; display: block; clear: both;
}
.opacityProperty ul li{
    display: block; float: left; width: 33%; background-color: black; position: relative;
    overflow-y: hidden;
}
.opacityProperty ul li:not(:first-child){
    margin-left: 0.5%;
}
.opacityProperty ul li figure img{
    display: block; width: 100%; opacity: 0.3;
    /* ! opacity : 대상포함자손전체적용 ex> img 투명하게 만들려고 figure에게 주면 텍스트들까지 망함 */
    transition-duration: .5s;
}
.opacityProperty ul li figure figcaption{
    position: absolute; left: 25%; top: 25%; width: 50%; height: 50%;
    background-color: yellow; text-align: center; padding:4vh 2vw; box-sizing: border-box;
    font-size: 2vw; transition-duration: .5s;
}
.opacityProperty ul li:hover figure figcaption{
    opacity: 0; top: -100%;
}
.opacityProperty ul li:hover figure img{
    opacity: 1;
}