body{
    margin: 0;
}
.property{
    width: 610px; margin: 0 auto; border: 3px solid #3a00b6;
}
.property span{
    display: block; width: 10px; height: 50px; margin: 10px;
    /* 우리가 변경 해야 하는 값들은? - width, background-color */
    /* transition-property: width, background-color;
    transition-duration: 5s, 1s;
    transition-timing-function: linear, ease-out;
    transition-delay: 0s, 2s; */
    transition: all 0.5s ease-out;
}
.property:hover span:nth-child(1){width: 100px; background-color: deeppink;}
.property:hover span:nth-child(2){width: 300px; background-color: deepskyblue;}
.property:hover span:nth-child(3){width: 400px; background-color: darkgoldenrod;}
.property:hover span:nth-child(4){width: 200px; background-color: darkorange;}
.property:hover span:nth-child(5){width: 500px; background-color: darkred;}