.redG{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.blueG {
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
    /* IE6-9 */

}

.greenG {
    background: #20a024;
    /* Old browsers */
    background: -moz-linear-gradient(top, #20a024 0%, #25c630 41%, #2bbf20 59%, #71c46b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #20a024 0%, #25c630 41%, #2bbf20 59%, #71c46b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #20a024 0%, #25c630 41%, #2bbf20 59%, #71c46b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20a024', endColorstr='#71c46b', GradientType=0);
    /* IE6-9 */

}

.yellowG {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    line-height: 500px;
    text-align: center;
    background: #fefcea;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #fefcea 0%, #f1da36 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #fefcea 0%, #f1da36 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #fefcea 0%, #f1da36 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefcea', endColorstr='#f1da36', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.redG h1,
.blueG h1,
.greenG h1 {
    color: #fff;
}