/* 
    transition-duration : 변환 - 지속시간 = 변환하는 시간
    presetValue(ex> block, none, inline-block, inline, relative, absolute......)는 적용불가
    = 무조건 수치화 되어있는 값만 변경 가능.
*/
body{
    margin: 0;
}
.durationEX1{
    width: 100px; height: 100px; background-color: #ff0; padding: 0px; border: 1px solid #f00;
    /* transition-duration: 1s; */
    transition: all 1s ease-out;
}
.durationEX1:hover{
    width: 200px; height: 200px; background-color: #f0f; padding: 50px; border: 10px solid #0ff;
}
.durationEX2{
    width: 200px; height: 200px; font-size: 16px; background-color: #ff6a00;
    padding: 30px; line-height: 32px;
    transition-duration: 2s;
}
.durationEX2:hover{
    padding: 0px; font-size: 0px; line-height: 0px;
}
.durationEX2:active{
    padding: 30px; font-size: 16px; line-height: 32px;
}
.durationEX3{
    position: relative; height: 23px; background-color: #808080; margin: 50px 0;
}
.durationEX3 .moveSpan{
    background-color: #000; width: 3%; height: 23px; position: absolute; left: 0; top: 0; transition-duration: 2s;
    /* display 속성이 positioning 이 이루어지면 상실됨. = inline 이어도 규격을 가질 수 있다. */
}
.durationEX3:hover .moveSpan{
    left: 97%;
}
.durationEX4{
    width: 50%; height: 300px; transition-duration: 2s; color: #000;
    border-width: 3px; border-style: solid; border-color: #f00 #ff6a00 #ffd800 #4cff00;
    margin-bottom: 200px;
}
.durationEX4:hover{
    margin: 0 25% 200px; border-color: #00ff90 #0094ff #0026ff #b200ff; color: #0094ff;
}