body, ul, dl, dt, dd{
    margin: 0; padding: 0;
}
div{
    margin-bottom: 30px;
}
.displayProperty span:nth-child(1){
    display: block; width: 50%; background-color: #fc9393;
}
.displayProperty span:nth-child(2){
    display: inline-block; background-color: #94fc93;
    width: 25%;
}
.displayProperty span:nth-child(3){
    display: inline; width: 75%; background-color: #93c5fc;
    text-align: center;
}
.displayProperty span:nth-child(4){
    display: none;
}
.visibilityProperty span{
    background-color: #ff6a00; display: block;
    border: 1px solid black;
}
.visibilityProperty span:first-child{
    visibility: visible;
}
.visibilityProperty span:nth-child(2){
    height: 500px; visibility: hidden;
}
.visibilityProperty input[type='checkbox']:checked ~ table{
    visibility: visible;
}
.visibilityProperty table{
    visibility: collapse; border-spacing: 0;
}
.opacityProperty ul:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.opacityProperty ul li{
    display: block; float: left; width: 33%; background-color: black;
    position: relative;
}
.opacityProperty ul li:not(:first-child){
    margin-left: 0.5%;
}
.opacityProperty ul li figure{
    margin: 0;
}
.opacityProperty ul li figure img{
    width: 100%; opacity: 0.3; transition-duration: 0.75s;
}
.opacityProperty ul li:hover figure img{
    opacity: 1;
}
.opacityProperty ul li:hover figure figcaption{
    opacity: 0;
}
.opacityProperty ul li figure figcaption{
    position: absolute; width: 50%; height: 50%; left: 25%; top: 25%;
    background-color: rgba(255,255,255,0.5); text-align: center; opacity: 1;
    transition: opacity 0.75s ease-in-out;
}
.opacityProperty ul li figure figcaption dl dt{
    font-size: 18px; font-weight: bold; margin-bottom: 30px;
}
.opacityProperty ul li figure figcaption dl dd{
    font-size: 14px; color: #444; margin: 0;
}

.shadowProperty h1{
    text-shadow: 5px 10px 10px rgba(0,0,0,0.5);
    /* * xAxis, yAxis, blur (spread) shadowColor */
}
.shadowProperty p{
    width: 300px; height: 300px; border: 3px solid #f00;
}
.shadowProperty p:first-of-type{
    box-shadow: 8px 10px 2px rgba(0,0,0,0.7);
}
.shadowProperty p:last-of-type{
    box-shadow: inset 8px 10px 2px rgba(0,0,0,0.7);
}
/* https://css3generator.com/ <- 더쉽게만들기 */