body{
    margin: 0;
}
.property{
    width: 610px; margin: 0 auto; border: 3px solid #3a00b6;
}
.property span{
    display: block; width: 10px; height: 50px; background-color: #0cf; margin: 5px;
    transition-duration: 1s, 5s;
    transition-property: background-color, width;
}
/*background는 1초동안 변형시키고, width는 5초동안 변형 시켜라*/
.property:hover span:nth-child(1){background-color: #f00; width: 100px;}
.property:hover span:nth-child(2){background-color: #0f0; width: 200px;}
.property:hover span:nth-child(3){background-color: #00f; width: 300px;}
.property:hover span:nth-child(4){background-color: #ff0; width: 400px;}
.property:hover span:nth-child(5){background-color: #0ff; width: 500px;}