/* 
    ? -delay : 지연시간
*/
body{
    margin: 0;
}
ul{
    padding: 0; margin: 0; list-style: none;
}
.delay1{
    width: 610px; border: 3px solid #3a00b6;
}
.delay1 span{
    display: block; width: 10px; height: 50px; background-color: #0cf; margin: 5px;
    transition-duration: 3s;
}
.delay1:hover span{
    width: 600px;
}
.delay1 span:nth-child(1){transition-delay: 1s;}
.delay1 span:nth-child(2){transition-delay: 2s;}
.delay1 span:nth-child(3){transition-delay: 3s;}
.delay1 span:nth-child(4){transition-delay: 4s;}
.delay1 span:nth-child(5){transition-delay: 5s;}

.delay2 ul:after{
    content: ''; display: block; clear: both;
}
.delay2 ul li{
    width: 33.33%; float: left; height: 200px; transition-duration: 2s;
}
.delay2 ul:hover li{
    width: 50%;
}
.delay2 ul li:nth-child(1){transition-delay: 0.5s; background-color: lightcoral;}
.delay2 ul li:nth-child(2){transition-delay: 1s; background-color: lightgreen;}
.delay2 ul li:nth-child(3){transition-delay: 1.5s; background-color: lightblue;}
.delay2 ul li:nth-child(4){transition-delay: 2s; background-color: lightgray;}
.delay2 ul li:nth-child(5){transition-delay: 2.5s; background-color: lightyellow;}
.delay2 ul li:nth-child(6){transition-delay: 3s; background-color: lightsalmon;}

.delay2 ul:hover li:nth-child(1){background-color: coral;}
.delay2 ul:hover li:nth-child(2){background-color: green;}
.delay2 ul:hover li:nth-child(3){background-color: blue;}
.delay2 ul:hover li:nth-child(4){background-color: gray;}
.delay2 ul:hover li:nth-child(5){background-color: yellow;}
.delay2 ul:hover li:nth-child(6){background-color: sienna;}

.delay3 ul{
    height: 300px; background-color: #000;
}
.delay3 ul:after{
    content: ''; display: block; clear: both;
}
.delay3 ul li{
    float: left; width: 20%; height: 0; transition-duration: 3s;
}
.delay3 ul:hover li{
    height: 300px;
}
/* todo. 1,2,3,4,5번 각각의 li들에 배경색을 다르게 설정하고 가속도를 넣어보기*/
.delay3 ul li:nth-child(1){background-color: lightcoral; transition-timing-function: cubic-bezier(1,0,1,0);}
.delay3 ul li:nth-child(2){transition-timing-function: cubic-bezier(0,1.04,1,-0.01); background-color: lightgreen;}
.delay3 ul li:nth-child(3){transition-timing-function: cubic-bezier(1,0,1,-0.01); background-color: lightskyblue;}
.delay3 ul li:nth-child(4){transition-timing-function: cubic-bezier(1,0,0,1); background-color: lightgoldenrodyellow}
.delay3 ul li:nth-child(5){transition-timing-function: cubic-bezier(1,.43,0,.63); background-color: lightpink;}