.property{
    width: 610px; margin: 0 auto; border: 3px solid #3a00b6;
}
.property span{
    display: block; width: 10px; height: 50px; margin: 5px;
    transition-property: background-color, width;
    transition-duration: 1s, 5s;
    transition-timing-function: ease-out, linear;
    transition-delay: 1s, 0s;
    /* ? 분리적용이 필요하지 않고 변경되야 하는 속성은 너무 많다? = */
    /* ex> padding: 5px; border: 2px solid black; line-height: 24px; font-size: 16px; */
    /* transition: width .5s ease-in .5s; */
    /* ? transition : [property] [duration] [timing-function] [delay] = shortHand */
}


.property:hover span:nth-child(1){background-color: deeppink; width: 100px;}
.property:hover span:nth-child(2){background-color: deepskyblue; width: 300px;}
.property:hover span:nth-child(3){background-color: darkgoldenrod; width: 500px;}
.property:hover span:nth-child(4){background-color: darkorange; width: 200px;}
.property:hover span:nth-child(5){background-color: darkred; width: 400px;}