body{
    background-color: #333; margin: 0;
}
.wrap{
    width: 70%; margin: 0 auto;
}
.wrap a{
    text-decoration: none; display: block;
}
.wrap ul{
    margin: 0; padding: 0; list-style: none;
}
.wrap ul:after{
    content: ''; display: block; clear: both;
}
/* .wrap header:after{
    content: ''; display: block; clear: both;
}
.wrap header>*{
    float: left;
}
.wrap header h1{
    width: 25%; line-height: 50px; margin: 0;
}
.wrap header nav{
    width: 45%; margin-left: 30%;  line-height: 50px;
} */
.wrap header{
    position: relative; padding: 20px 40% 0 0; margin-bottom: 90px;
}
.wrap header h1{
    margin: 0; color: #fff; text-shadow: 5px 10px 5px rgba(0,0,0,0.7);
}
.wrap header nav{
    position: absolute; right: 0; top: 20px; width: 40%;
}
.wrap header nav ul{
    border-width: 1px 0; border-style: solid; border-color: #555;
/* text-align: right;  */
}
.wrap header nav ul li{
    width: 20%; float: left; padding: 10px 0; min-width: 50px;
}
.wrap header nav ul li a{
    color:#f0f0f0; font-size: 12px; text-align: center;
}
.wrap header nav ul li:not(:first-child) a{
    border-left: 1px solid #e1e1e1;
}
.wrap > ul li{
    width: 30%; float: left; margin-bottom: 5%; transition: box-shadow .5s ease-out;
    background-color: #000;
}
.wrap > ul li:hover{
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.7);
    /* ? box-shadow : [xAxisDistance] [yAxisDistance] [blur] [spread] [color] */
}
.wrap > ul li:not(:nth-child(3n+1)){
    margin-left: 5%;
}
.wrap > ul li a img{
    width: 100%; display: block; opacity: 0.5; transition: opacity .5s ease-out;
    /* 
        불투명도 처리 : 1= 100%. ex> 0.75 = 75%
    */
}
.wrap > ul li a:hover img{
    opacity: 1;
}

.wrap footer{
    font-size: 12px; text-align: center; color:#a1a1a1;
}