.redG{
    background: linear-gradient(135deg, #9b1f1f 0%, #208eeb 50%, #ea7e7e 100%);
    /* W3C */
    /* background: -moz-linear-gradient(); - FF */
    /* background: -webkit-gradient(); - chrome, safari */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b1f1f', endColorstr='#ea7e7e', GradientType=1); fallBack on horizontal gradient */
}
.greenG{
    /* todo. radial-gradient(ellipse at center, color location,.....) */
    background: linear-gradient(to right, #20a024 0%, #71c46b 100%);
}
.blueG{
    width: 500px; height: 500px; border-radius: 250px; line-height: 500px; text-align: center;
    background: radial-gradient(ellipse at center, #7bb9e8 0%, #1e5799 100%);
}
.yellowG{
    background: linear-gradient(to bottom, #f1da36 0%, #fefcea 100%);
    line-height: 100px;
}