.redG {
    background: #9b1f1f;
    /* Old browsers */
    background: linear-gradient(135deg, #9b1f1f 0%, #d13327 41%, #c92520 58%, #ea7e7e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*
        linear-gradient : 그라디언트의 형태 ex> radial-gradient 는 원형 그라디언트
        deg : 그라디언트의 각도
        #color ?% : 색상블록 으로 컬러와 위치
    */
}

.blueG {
    background: linear-gradient(to right, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.greenG {
    background: linear-gradient(to bottom, #20a024 0%, #25c630 41%, #2bbf20 59%, #71c46b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.yellowG {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    line-height: 500px;
    text-align: center;
    background: radial-gradient(ellipse at center, #fefcea 0%, #f1da36 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.redG h1,
.blueG h1,
.greenG h1 {
    color: #fff;
}

/* http://www.colorzilla.com/gradient-editor 에서 제작 가능*/