/* 
    * transition-duration - (변환지속) => 값이 바뀌어야하는데 시간을 설정해두면 값이 바뀌는 것이 눈에보인다. 
    ! 증,감부가 가능해야 -> 숫자. (ex > left: 0 -> 100px. or display: none -> block;)
*/
body{
    margin: 0;
}
.durationEX1{
    width: 100px; height: 100px; background-color: #ffa; transition-duration: 2s;
    border-width: 1px; border-style: solid; border-color: #000;
}
.durationEX1:hover{
    width: 200px; height: 200px; border-color: #daa520; border-width: 5px;
}
.durationEX1:active{
    background-color: #f00;
}
.durationEX2{
    width: 200px; height: 200px; font-size: 16px; background-color: #ff6a00; padding: 30px;
    transition-duration: 2s;
}
/* todo. 지문이 시키는대로 */
.durationEX2:hover{
    padding: 10px; font-size: 12px;
}
.durationEX2:active{
    padding: 30px; font-size: 16px;
}


.durationEX3{
    position: relative; height: 30px; background-color: #808080; margin-bottom: 50px;
}
.durationEX3 .moveSpan{
    background-color: #000; width: 3%; height: 30px; position: absolute; left: 0; top: 0;
    transition-duration: 2s;
}
.durationEX3:hover .moveSpan{
    left: 97%;
}
.durationEX4 span{
    width: 50%; height: 300px; border-width: 3px; border-style: solid; display: block;
    border-color: #f00 #ff6a00 #ffd800 #4cff00; transition-duration: 2s;
}
.durationEX4:hover span{
    margin: 0 25%; border-color: #00ff90 #0094ff #07273d #b200ff; color: #0094ff;
}