body{
    margin: 0;
}
.property{
    width: 610px; margin: 0 auto; border: 3px solid #3a00b6;
}
.property span{
    display: block; width: 10px; height: 50px; background-color: #0cf; margin: 5px;
    /* transition: all 4s ease-in-out 2s; */
    transition-property: background-color, width;
    transition-duration: 1s, 5s;
    transition-delay: 4s, 0s;
    /* ! 개별로 분리할 것인지 or 다수적용으로인한 전체 제어를 줄여 쓸 것인지 */
}
.property:hover span:nth-child(1){width: 100px; background-color: red;}
.property:hover span:nth-child(2){width: 200px; background-color: orange;}
.property:hover span:nth-child(3){width: 300px; background-color: green;}
.property:hover span:nth-child(4){width: 400px; background-color: yellow;}
.property:hover span:nth-child(5){width: 500px; background-color: palevioletred;}