/* ? 변수선언 */

@ColumnWidth: 6.5%;
@GutterWidth: 2%;

/* ? MixIn */

.span(@column){
    width: (@ColumnWidth * @column) + (@GutterWidth * (@column - 1));
}

/* ? use STYLE */
.container{
    margin: 0; padding: 0;
}
.row{
    overflow: hidden; width: 100%;
}
[class*='span']{
    float: left;
    margin-left: @GutterWidth;
    &:first-child{
        margin-left: 0;
    }
}
.span_12{.span(12);}
.span_11{}
.span_10{}
.span_9{}
.span_8{}
.span_7{}
.span_6{.span(6);}
.span_5{}
.span_4{}
.span_3{}
.span_2{}
.span_1{}