

@media screen and (min-width:768px) and (max-width: 1279px){
    body{
        background-color: green; color: palegreen; font-weight: bold;
    }
    h1{
        font-size: 36px; line-height: 52px; text-align: right;
    }
    p{
        font-size: 16px; line-height: 21px;
    }
}
/* ? tablet Device -  사용자의 해상도가 768이상 , 1280미만*/

@media screen and (min-width:1280px){
    body{
        background-color: blue; color: white;
    }
    h1{
        font-size: 36px; line-height: 52px;
    }
    p{
        font-size: 16px; text-align: right; line-height: 21px;
    }
}
/* ? desktop Device - 사용자의 해상도가 1280 이상 일 때 */