body, h1{
    margin: 0;
}
body{
    position: relative;
}
.circle{
    position: absolute; width: 200px; height: 200px; border-radius: 100px; text-align: center;
    background: linear-gradient(to bottom, #7db9f8 0%, #1e5799 100%);
    animation-name: moveCircle; animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes moveCircle {
    /* 0%{
        left: 0;
    }50%{
        left: 500px;
    }100%{
        left: 0;
    } */
    0%{
        left: 0; transform: rotate(0deg);
    }100%{
        left: 500px; transform: rotate(360deg);
    }
}
.circle:hover{
    animation-play-state: paused;
}