body,h1{
    margin: 0;
}
body{
    position: relative;
}
.circle{
    position: absolute; width: 200px; height: 200px; border-radius: 100px;
    background: linear-gradient(#cb60b3 0%, #db36a4 100%); text-align: center;
    animation-name: moveCircle;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
/* 
    ?animation
    * 1. moveCircle이라는 keyframes를 호출.
    * 2. duration : 재생시간.
    * 3. iteration-count : 재생횟수(무한반복). or (숫자)
    * 4. direction : 재생방식 선택
    ? normal (0 - 100) / reverse (100 - 0) / alternate(0 - 100, 100 - 0) / alternate-reverse (100 - 0, 0 - 100)
*/
.circle h1{
    line-height: 200px;
}
.circle:hover{
    animation-play-state: paused;
}
/* 
    ?playState
    * paused는 중지, running은 재생
*/
@keyframes moveCircle{
    from{
        left: 0;
        transform: rotate(0deg);
    }to{
        left: 500px;
        transform: rotate(360deg);
    }
}
/* 
    ?keyframes
    * 0 ~ 100% 사이 소수점 포함 입력 가능.(xx.xx)
    * keyframe start = from(0%), end = to(100%)
    * transform - 변형함수들로 이루어진 속성. rotate : 회전 deg : 각도
*/