body{
    margin: 0;
}
.circle{
    position: absolute; width: 200px; height: 200px; border-radius: 100px;
    background: linear-gradient(to bottom, #7db9f8 0%, #1e5799 100%);
    animation-name: moveCircle; animation-duration: 2s; animation-direction: alternate;
    animation-iteration-count: infinite; animation-timing-function: ;
    /* todo . 가속도 부분은 벽에튕기는 듯한 값을 찾아내어 넣어보기 */
    /* -direction : 재생방향 */
    /* -iteration-count : 재생횟수 */
    /* animation-duration: 4s; */
}
@keyframes moveCircle{
    0%{
        left: 0; transform: rotate(0deg);
    }
    100%{
        left: 800px; transform: rotate(360deg);
    }
    /* 0%{
        left: 0;
    }
    50%{
        left: 800px;
    }
    100%{
        left: 0;
    } */
}