div{
    width: 200px; height: 200px; border: 5px solid black; margin: 0 auto;
}
div span{
    display: block; height: 200px;
    transform-origin: left top;
    /* 
        ? origin
        * transform이 일어나는 객체의 기본 중심축은 자기 자신의 중심을 기준으로.
        * 그래서 변경할 때 사용하는 속성이며 left,top,right,bottom, %로 변경 할 수 있다.
    */
}
div:first-of-type span{
    background-color: red; transform: rotate(10deg);
}
div:nth-of-type(2) span{
    background-color: green; color: #fff; transform:  rotate(10deg) translateX(100px);
}
div:nth-of-type(3) span{
    background-color: blue; color: #fff; transform: rotate(10deg) translate(100px,50px);
}
/* todo. 1 skewX(); - 기울기? 각도 - deg */
div:nth-of-type(4) span{
    background-color: brown; color: #fff; transform: rotate(10deg) translate(100px,50px) skewX(10deg);
}
/* todo. 2 skewX(); skewY(); = ?? - 기울기? 각도 - deg */
div:nth-of-type(5) span{
    background-color: orange; transform: rotate(10deg) translate(100px,50px) skew(10deg,10deg);
    /* ex> background-position: center; 와는 다름. 같은 값이어도 두개로 분리 적용 해야한다. = 좌표체계*/
}
/* todo. 3 scaleX(); scaleY(); = ?? - 100 = 1과 같다. = 원래 크기가 1이다. ex> 10%증가 = 1.1*/
div:nth-of-type(6) span{
    background-color: pink; transform: rotate(10deg) translate(100px,50px) skew(10deg,10deg) scale(1.2);
}