body{
    width: 200px; margin: 200px auto;
}
div{
    width: 200px; position: relative; animation-name: rotate3D; animation-iteration-count: infinite; animation-duration: 3s;
    animation-timing-function: ease-out; transform-style: preserve-3d;
}
@keyframes rotate3D {
    0%{
        transform: rotateX(90deg) rotateY(45deg);
    }100%{
        transform: rotateX(450deg) rotateY(45deg);
    }
}
div span{
    width: 200px; height: 100px; position: absolute; left: 0; top: 0;
}
div span:nth-of-type(1){background-color: palevioletred; transform: translateZ(100px);}
div span:nth-of-type(2){background-color: palegreen; transform: rotateY(90deg) translateZ(100px);}
div span:nth-of-type(3){background-color: paleturquoise; transform: rotateY(180deg) translateZ(100px);}
div span:nth-of-type(4){background-color: palegoldenrod; transform: rotateY(270deg) translateZ(100px);}
/* todo. 위,아래 뚜껑 덮기 */
div span:nth-of-type(5){background-color: lightslategray; height: 200px; transform: rotateX(90deg) translateZ(100px);}
div span:nth-of-type(6){background-color: lightsalmon; height: 200px; transform: rotateX(270deg);}