body{
    width: 200px; margin: 200px auto; perspective: 400px;
}
div{
    width: 200px; height: 200px; position: relative;
    animation-name: playBox;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}
@keyframes playBox{
    from{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }to{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
div span{
    width: 200px; height: 200px; position: absolute; left: 0; top: 0;
    opacity: 0.5; display: block; backface-visibility: visible;
}
div span:nth-of-type(1){background-color: red; transform: translateZ(100px);}
div span:nth-of-type(2){background-color: green; transform: rotateY(90deg) translateZ(100px);}
div span:nth-of-type(3){background-color: blue; transform: rotateY(180deg) translateZ(100px);}
div span:nth-of-type(4){background-color: yellow; transform: rotateY(270deg) translateZ(100px);}
div span:nth-of-type(5){background-color: brown; transform: rotateX(90deg) translateZ(100px);}
div span:nth-of-type(6){background-color: deeppink; transform: rotateX(270deg) translateZ(100px);}
/* 
    ?perspective
    ! 3D구현관련 기반면적. 대상면적의 x2가 적당. (2000px정도 현limit)
    ?transform-style
    * preserve-3d 자손요소 3차원속성 유지 / flat 자손요소 3차원속성 무시
    ?backface-visibility
    * visible : default. 이면을 보이겠다. hidden : 이면을 보이지 않는다.
*/