html, body{
    height: 100%;
    /* *수직중앙을 용이하게 하기위해 계단 설계*/
}
body{
    margin: 0 auto; width: 1000px; background-color: black;
    /* *body를 wrapper로 사용하기 */
}
section{
    position:relative; height: 100%;
    perspective: 1500px;
    /* * 정면에서 바라보는 각도가 안나온 사람들 - perspective 와 관련된 문제일 확률이 큼. */
}
/* 
    ? section - perspective를 주고, .movement를 absolute로 띄우기 위함.
*/
section .moveMent{
    position: absolute; top: 20%; left: 50%; transform-style: preserve-3d;
    /* ?top : 수직중앙 / left : 수평중앙 */
    animation: rotater 15s linear 0s infinite;
    /*
        ? animation-name: rotater;
        ? animation-duration: 15s;
        ? animation-iteration-count: infinite;
        ? animation-timing-function: linear;
    */
}
/*
    ? movement
    ! 목마(carousel)의 행, 열이 구현되는 박스. (통돌이)
*/
@keyframes rotater{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
/* ? movement(통돌이)를 360도 y축을 기준으로 회전. */
section .moveMent .pic{
    position: absolute; left: 0; top: 0; backface-visibility: hidden;
     margin-left: -107px;
}
section .moveMent .pic:nth-child(1){transform: rotateY(0deg) translateZ(-370px);}
section .moveMent .pic:nth-child(2){transform: rotateY(36deg) translateZ(-370px);}
section .moveMent .pic:nth-child(3){transform: rotateY(72deg) translateZ(-370px);}
section .moveMent .pic:nth-child(4){transform: rotateY(108deg) translateZ(-370px);}
section .moveMent .pic:nth-child(5){transform: rotateY(144deg) translateZ(-370px);}
section .moveMent .pic:nth-child(6){transform: rotateY(180deg) translateZ(-370px);}
section .moveMent .pic:nth-child(7){transform: rotateY(216deg) translateZ(-370px);}
section .moveMent .pic:nth-child(8){transform: rotateY(252deg) translateZ(-370px);}
section .moveMent .pic:nth-child(9){transform: rotateY(288deg) translateZ(-370px);}
section .moveMent .pic:nth-child(10){transform: rotateY(324deg) translateZ(-370px);}

section .moveMent .pic .cell{
    width: 215px; height: 121px; margin-bottom: 20px; transition-duration: 0.5s;
}
section .moveMent .pic .cell:hover{
    transform: scale(1.2) translateZ(0px);
}
section .moveMent .pic .cell img{
    width: 100%; opacity: 0.5;
}
section .moveMent .pic .cell:hover img{
    opacity: 1;
}